<div class="vista3 orden">
	<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container container-sin-header">
		<form action="{{ entity.id  ? path('orden_update', { 'id': entity.id }) : path('orden_create') }}" method="post" {{ form_enctype(form) }}>
		<div class="form-invoice">
				<div class="span-16 form-horizontal label-column-small form-condensed">
					<div class="control-group">
						{{ form_label(form.cliente, null, { 'label': ' Cliente', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">	{{ form_widget(form.cliente, { 'attr': {'class': 'small buscadorid'}}) }}
			    			<a rel="prettyPhoto[iframe]" href="{{ path('buscador_cliente', { 'id': entity.id , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title="Buscador de CLIENTES"><img src="{{ asset('images/search.png') }}" /></a></div>
	     			</div>
	     			<div class="control-group-pedido">  <label class="control-label">&nbsp;</label> <div class="controls nombre-cliente" style="display:none;"><h2>Nombre de cliente</h2></div></div>
     			</div>
     			<div class="span-19 form-horizontal label-column-small form-condensed">
					<div class="control-group required">
						<div style="width:150px;float:left;">   <label class="control-label required">Código:</label><div class="controls codigo">{{ entity.id }}</div></div>
			        	<div style="width:220px;float:left;">
			        		{{ form_label(form.estado, null, { 'label': 'Estado', 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls codigo">{{ form_widget(form.estado, { 'attr': {'class': 'small'}}) }}</div></div>
	     			 </div>
     			</div>
      			<div class="span-16 form-horizontal label-column-small form-condensed">
	     			<div class="control-group required">
						{{ form_label(form.fecha, null, { 'label': 'Fecha', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.fecha, { 'attr': {'class': 'date small'}}) }}
		        		</div>
	     			</div>
     			</div>
     			<div class="clearfix"></div>
     			<div class="span-16 form-horizontal label-column-small form-condensed"><label class="control-label required">Comercial</label>	<div class="controls nombre-comercial" style="display:none;"></div></div>
     			<div class="span-17 form-horizontal label-column-small form-condensed">
     		    	<div class="control-group required">
						{{ form_label(form.subcliente, null, { 'label': 'Subcliente', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">{{ form_widget(form.subcliente, { 'attr': {'class': ''}}) }}</div>
	     			</div>	
     			</div>	
 		</div>
	</div>
		
	<div class="span-25">
		<table cellspacing="0" cellpadding="0" class="tabla4">
        	<tbody><tr>
                   	  <th width="20%">{{ form_label(form.cantidad, 'Cantidad') }}</th>
                      <td width="80%"><div class="span-7">{{ form_widget(form.cantidad, { 'attr': {'class': 'small numeric'}}) }}</div><div class=""> {{ form_widget(form.cantidaduni, { 'attr': {'class': ''}}) }}</div></td>
                  </tr>
               	  <tr>
               	    <th>{{ form_label(form.cantidad, 'Espesor') }}</th>
               	       <td width="80%"><div class="span-7">{{ form_widget(form.espesor, { 'attr': {'class': 'small numeric'}}) }}</div><div class="span-9"> {{ form_widget(form.espesoruni, { 'attr': {'class': ''}}) }}</div></td>
                  </tr>         
           </tbody>
         </table>
    </div>
    <div class="span-15" style="margin-left:10px;">
		<table cellspacing="0" cellpadding="0" class="tabla4">
           	  <tbody><tr>
                   	  <th width="30%">{{ form_label(form.tipomaterial, 'Material') }}</th>
                      <td width="70%"> {{ form_widget(form.tipomaterial, { 'attr': {'class': ''}}) }}</tr>
               	 <tr>
                   	  <th width="30%">{{ form_label(form.producto, 'Producto') }}</th>
                      <td width="70%"> {{ form_widget(form.producto, { 'attr': {'class': ''}}) }}</tr>
               	             
           </tbody>
         </table>
    </div><div class="clearfix"></div> <br />
    <!-- EXTRUSION -->
    <div class="widget-box collapsible">
        <div class="widget-title" style="cursor:pointer">
    		<span id="collapse1"><span class="icon"><i class="icon-circle-arrow-right"></i></span>
            	<h5>EXTRUSION</h5></span>{{ form_widget(form.extrusion) }}
        </div>
        <div id="collapseOne" {% if entity.extrusion == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %} class="in collapse">
        	<div class="widget-content">
				<div class="span-24">
						<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
							 <tr>
								<th style="width:120px;"><b>Color</b></th>
								<td>{{ form_widget(form.color, { 'attr': {'class': 'small'}}) }}</td>
							  </tr>
							  <tr>
						        <th><b>Ancho</b></th>
						        <td>{{ form_widget(form.ancho, { 'attr': {'class': 'small numeric'}}) }}</td>
						      </tr>
							<tr>
						        <th><b>Galga</b></th>
						        <td>{{ form_widget(form.galga, { 'attr': {'class': 'small numeric'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Plegado</b></th>
						        <td>{{ form_widget(form.plegado, { 'attr': {'class': 'small numeric'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Bobinas</b></th>
						        <td>{{ form_widget(form.bobinas, { 'attr': {'class': 'small numeric'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Peso Teórico</b></th>
						        <td>{{ form_widget(form.pesoteorico, { 'attr': {'class': 'small'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Tipo Tubo</b></th>
						        <td>{{ form_widget(form.tipotubo, { 'attr': {'class': 'small'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Tratado</b></th>
						        <td>{{ form_widget(form.tratado, { 'attr': {'class': 'small'}}) }}</td>
						      </tr>
						      <tr>
						        <th>Observaciones</th>
						        <td>{{ form_widget(form.notasextrusion, { 'attr': {'class': 'small'}}) }}</td>
						      </tr>
						</table>
					 </div>
					 <div class="span-24">
						<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
							 <tr>
								<th style="width:120px;"><b>Fecha Producción</b></th>
								<td>{{ form_widget(form.fecha_extrusion, { 'attr': {'class': 'small date'}}) }}</td>
							  </tr>
							  <tr>
						        <th><b>Operario</b></th>
						        <td>{{ form_widget(form.operario_extrusion, { 'attr': {'class': 'small'}}) }}</td>
						      </tr>
							<tr>
						        <th><b>Tiempo</b></th>
						        <td>{{ form_widget(form.tiempo_extrusion, { 'attr': {'class': 'small numeric'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Maquina</b></th>
						        <td>{{ form_widget(form.maquina_extrusion, { 'attr': {'class': 'small'}}) }}</td>
						      </tr>
						      <tr>
						        <th><b>Materia Prima</b></th>
						        <td></td>
						      </tr>
						</table>
					 </div>	<div class="clearfix"></div><br />
            </div>
        </div>
        <div class="widget-title" style="cursor:pointer;">
            <span  id="collapse2"><span class="icon"><i class="icon-circle-arrow-right"></i></span>
              <h5>IMPRESION</h5></span>{{ form_widget(form.impresion) }}
        </div>
        <div id="collapseTwo" class="in collapse" {% if entity.impresion == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <div class="widget-content">
					<div class="span-24">
							<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
								 <tr>
									<th style="width:120px;"><b>Medida </b></th>
									<td>{{ form_widget(form.medidaimp, { 'attr': {'class': 'small'}}) }}</td>
								  </tr>
								  <tr>
							        <th><b>Kilos</b></th>
							        <td>{{ form_widget(form.kilosimp, { 'attr': {'class': 'small numeric'}}) }}</td>
							      </tr>
								  <tr>
							        <th><b>Anverso</b></th>
							        <td>{{ form_widget(form.anverso, { 'attr': {'class': 'small numeric'}}) }}</td>
							      </tr>
								<tr>
							        <th><b>Reverso</b></th>
							        <td>{{ form_widget(form.reverso, { 'attr': {'class': 'small numeric'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Colores Anversor</b></th>
							        <td>{{ form_widget(form.coloresa, { 'attr': {'class': 'small numeric'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Colores Reverso</b></th>
							        <td>{{ form_widget(form.coloresr, { 'attr': {'class': 'small numeric'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Cliche</b></th>
							        <td>{{ form_widget(form.cliche, { 'attr': {'class': 'small'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Carpeta</b></th>
							        <td>{{ form_widget(form.carpeta, { 'attr': {'class': 'small'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Soldadura</b></th>
							        <td>{{ form_widget(form.soldadura, { 'attr': {'class': 'small'}}) }}</td>
							      </tr>
							      <tr>
							        <th>Observaciones</th>
							        <td>{{ form_widget(form.notasimpresion, { 'attr': {'class': 'small'}}) }}</td>
							      </tr>
							</table>
						 </div>
						 <div class="span-24">
							<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
								 <tr>
									<th style="width:120px;"><b>Fecha Impresión</b></th>
									<td>{{ form_widget(form.fecha_impresion, { 'attr': {'class': 'small date'}}) }}</td>
								  </tr>
								  <tr>
							        <th><b>Operario</b></th>
							        <td>{{ form_widget(form.operario_impresion, { 'attr': {'class': 'small'}}) }}</td>
							      </tr>
								<tr>
							        <th><b>Tiempo</b></th>
							        <td>{{ form_widget(form.tiempo_impresion, { 'attr': {'class': 'small numeric'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Maquina</b></th>
							        <td>{{ form_widget(form.maquina_impresion, { 'attr': {'class': 'small'}}) }}</td>
							      </tr>
							      <tr>
							        <th><b>Materia Prima</b></th>
							        <td></td>
							      </tr>
							</table>
					 </div><div class="clearfix"></div><br />
   			   </div>
         </div>     <!-- collapseTwo -->     
         <div class="widget-title" style="cursor:pointer;">
            <span id="collapse3"><span class="icon"><i class="icon-circle-arrow-right"></i></span>
              <h5>CORTE</h5></span>{{ form_widget(form.corte) }}
        </div>
         <div id="collapseThree" class="in collapse" {% if entity.corte == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <div class="widget-content">
 				<div class="span-24">
					<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
						 <tr>
							<th style="width:120px;"><b>Cantidad</b></th>
							<td>{{ form_widget(form.cantidadc, { 'attr': {'class': 'small'}}) }}</td>
						  </tr>
						  <tr>
					        <th><b>Ancho</b></th>
					        <td>{{ form_widget(form.anchoc, { 'attr': {'class': 'small numeric'}}) }}</td>
					      </tr>
						<tr>
					        <th><b>Largo</b></th>
					        <td>{{ form_widget(form.largoc, { 'attr': {'class': 'small numeric'}}) }}</td>
					      </tr>
					      <tr>
					        <th><b>Solapa</b></th>
					        <td>{{ form_widget(form.solapa, { 'attr': {'class': 'small numeric'}}) }}</td>
					      </tr>
					      <tr>
					        <th><b>Paquete</b></th>
					        <td>{{ form_widget(form.paquete, { 'attr': {'class': 'small numeric'}}) }}</td>
					      </tr>
					      <tr>
					        <th><b>Saco</b></th>
					        <td>{{ form_widget(form.saco, { 'attr': {'class': 'small'}}) }}</td>
					      </tr>
					      <tr>
					        <th><b>Palet</b></th>
					        <td>{{ form_widget(form.palets, { 'attr': {'class': 'small'}}) }}</td>
					      </tr>
					      <tr>
					        <th>Observaciones</th>
					        <td>{{ form_widget(form.notascorte, { 'attr': {'class': 'small'}}) }}</td>
					      </tr>
					</table>
				 </div>
				 <div class="span-24">
					<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
						 <tr>
							<th style="width:120px;"><b>Fecha Producción</b></th>
							<td>{{ form_widget(form.fecha_corte, { 'attr': {'class': 'small date'}}) }}</td>
						  </tr>
						  <tr>
					        <th><b>Operario</b></th>
					        <td>{{ form_widget(form.operario_corte, { 'attr': {'class': 'small'}}) }}</td>
					      </tr>
						<tr>
					        <th><b>Tiempo</b></th>
					        <td>{{ form_widget(form.tiempo_corte, { 'attr': {'class': 'small numeric'}}) }}</td>
					      </tr>
					      <tr>
					        <th><b>Maquina</b></th>
					        <td>{{ form_widget(form.maquina_corte, { 'attr': {'class': 'small'}}) }}</td>
					      </tr>
					      <tr>
					        <th><b>Materia Prima</b></th>
					        <td></td>
					      </tr>
					</table>
				 </div><div class="clearfix"></div><br />
   			   </div>
         </div>  <!-- collapseThree -->       
	</div>
</div>
		<div class="clearfix"></div> <BR />
	<div class="guardar"><button type="submit" class="ui-state-default ui-corner-all">Guardar</button></div> 
		{{ form_widget(form._token) }}</form>
	<!--
		<div id="accordion">
					<div>
						<h3><a href="#">EXTRUSION</a></h3>
						<div>Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet.</div>
					</div>
					<div>
						<h3><a href="#">IMPRESION</a></h3>
						<div>Phasellus mattis tincidunt nibh.</div>
					</div>
					<div>
						<h3><a href="#">CORTE</a></h3>
						<div>Nam dui erat, auctor a, dignissim quis.</div>
					</div>
				</div>
	  -->