<style type="text/css">
<!--

.ordenfabricacion {
 fon-size: 10px;
 color: #212121;
 margin:0; padding:0;
 font-family: Arial,sans-serif;
}

.verde { color:#869a90; }
.verdebg { background-color: #b0ccc5; }
.tith2{ border-bottom: 1px dashed #212121; width:100%; margin-bottom: 10px;}
h2 { text-align: center; color:#212121; font-size: 19px; margin:0; padding:0 0 0 5px; }
.h2id { font-size: 15px; margin: 0 0 15px 10px; }
h3 { font-size: 15px; color: #221; margin:0; padding: 0;}
.bordenegro { border: 1px solid #111;} .bordenegroright { border-right: 1px solid #111;}

#cliente { font-size: 11px;}

table td p { margin: 3px 2px;}
.tabla1 { border-collapse: collapse;  font-size: 11px;}
.tabla1 .etiqueta { background: #E7E7E7; }
.tabla1 td {border: 1px solid #111; padding:5px 15px;}
.etiqueta2 {color: #444; font-style: italic;}

.tabla2 { float:left; background: #F7F7F7; font-size: 11px; }
.tabla2 td.width1 p {font-weight: bold;}
.tabla3 {border-collapse: collapse; border: 1px solid #111;}
.tabla3 th {text-align: center; padding: 2px; background: #E7E7E7; border: 1px solid #111; font-size: 10px; font-weight:normal;}
h4 {margin:0; padding:0; float:left; font-size: 11px;}
p.info {margin:0; padding:0; float:left; font-size: 9px;}

.width1 { width: 100px;}
.tabla4 { border-collapse: collapse;}
.tabla4 td {  border: 1px solid #222;  border-collapse: collapse;}

.tabla5 { border-collapse: collapse; margin-top: -1px;  }
.tabla5 td { border: 1px solid #111; width: 123px;}
.tabla5eti { padding: 3px 0; text-align:center; background: #E7E7E7; font-size: 9px; width: 50px;}

.total {width: 600px; border-collapse: collapse;}
.total td { width: 32px; border:1px solid #111; }
.totaleti { padding: 6px 0; text-align:center; background: #E7E7E7; font-size: 10px; width: 50px;}

#footer {margin:0 20px; padding: 0; font-size:10px; float:left; width: 100%;}
#footer h6 {text-align:center; font-size: 13px; color: #111; margin:0; padding:0; }
.tablafooter { }
.footer1{ border: 1px solid #111; height:80px;}
.footer1 .fdo { vertical-align:bottom;}
.footer2{ border: 1px solid #111; height:80px;}
-->
</style>
<page backtop="5mm" backbottom="7mm" backleft="9mm" backright="11mm">
     <page_header>
     </page_header>
     <page_footer>
       <div id="footer">
       		<H6>INSPECCIÓN FINAL</H6>
       		<table class="tablafooter" cellspacing="0" style="width:700px;">
       			<tr>
       				<td style="width:30%;">
       					<div class="footer1"><img style="margin-left:10px;" src="{{ url }}{{ asset('images/POSITIVO.png') }}" /><p>Fecha:</p><p class="fdo">Fdo:</p></div>
       				</td>       				
       				<td style="width:70%; padding-left:30px;">
       					<div class="footer1"><p>OBSERVACIONES</p></div>
       				</td>
       			</tr>
       			
       		</table>
       </div>
     </page_footer>
{% block content %}
<div class="ordenfabricacion">
<div class="tith2"><h2>ORDEN DE FABRICACIÓN - <span class="h2id">{{ entity.id }}</span></h2></div>
	<table>
		<tr><td style="width: 300px;">
			<table id="cliente">
				<tr><td class="etiqueta2">Cliente</td><td colspan="2"><strong>{{ entity.cliente.id}} - {{ entity.cliente }}&nbsp;</strong></td></tr>
				<tr><td class="etiqueta2">Pedido Cliente</td><td><strong>{{ entity.pedidoclienteid }}&nbsp;</strong></td><td>Fecha: <strong>{{ entity.fecha|date('d.m.Y') }}</strong></td></tr>
				<tr><td class="etiqueta2">Subcliente</td><td colspan="2"><strong>{{ entity.subcliente }}&nbsp;</strong></td></tr>
			</table>
		</td><td>
			<table class="tabla1 bordenegro" cellspacing="0" style="width:700px;">
		    	<tr>
		    		<td class="etiqueta">MATERIAL</td><td class="etiqueta">PRODUCTO</td><td class="etiqueta">CANTIDAD</td><td class="etiqueta">ESPESOR</td>
				</tr>
				<tr>
					<td>{{ entity.tipomaterialText }}</td><td>{{ entity.productoText }}</td><td>{{ entity.cantidad }} {{ entity.cantidaduniText }}</td><td>{{ entity.espesor }} {{ entity.espesoruniText }}</td>	
				</tr>
			</table>
	</td></tr>
	</table>
	{% if entity.extrusion %}
	<table>
	  <tr><td style="width:200px;">
		<h3>EXTRUSION</h3>
			<table class="tabla2 bordenegro" cellspacing="0">
				<tr><td>
				<p><i>Color</i></p><p><i>Ancho</i></p><p><i>Galga</i></p><p><i>Plegado</i></p><p><i>Metros</i></p><p><i>Bobinas</i></p><p><i>Peso Teórico</i></p><p><i>Tratado</i></p><p><i>Tipo Tubo</i></p><p><i>Observaciones</i></p>
				</td>
				<td class="width1">
					<p>{{ entity.color }}&nbsp;</p><p>{{ entity.ancho }}&nbsp;</p><p>{{ entity.galga }}&nbsp;</p><p>{{ entity.plegado }}&nbsp;</p><p>{{ entity.metrose }}&nbsp;</p><p>{{ entity.bobinas }}&nbsp;</p><p>{{ entity.pesoteorico }}&nbsp;</p><p>{{ entity.tratadoText }}&nbsp;</p><p>{{ entity.tipotuboText }}&nbsp;</p><p>{{ entity.notasextrusion }}&nbsp;</p><p></p>
				</td>
				</tr>
			</table>
			<table class="tabla5 bordenegro">
				<tr><td class="tabla5eti">Máquina</td><td>&nbsp;</td></tr>
				<tr><td class="tabla5eti">Tiempo</td><td>&nbsp;</td></tr>
			</table>
		</td>
		<td style="width:500px;"><h4>CONTROL DE CALIDAD </h4>
		    	<p class="info">Una inspección por bobina, para bobinas menores de 50 kg, una inspección cada 2 horas</p>
		 <table cellspacing="0" class="tabla3" style="">
	        <tr>
	            <th style="width: 14%;">FECHA</th>
	            <th style="width: 14%;">TURNO</th>
	            <th style="width: 14%;">Nº BOB</th>
	            <th style="width: 14%;">ANCHO</th>
	            <th style="width: 14%;">PESO</th>
	            <th style="width: 15%;">RESULTADO</th>
	            <th style="width: 14%;">FIRMA</th>
	        </tr>
	    </table>
	    {% for i in 0..6 %}
	    <table class="tabla4">
        	<tr>
            	<td style="width: 14%; height:18px;"></td>
            	<td style="width: 14%;"></td>
            	<td style="width: 14%;"></td>
            	<td style="width: 14%;"></td>
            	<td style="width: 14%;"></td>
            	<td style="width: 15%; padding-top:2px;"> <img src="{{ url }}{{ asset('images/nok.png') }}" /></td>
            	<td style="width: 14%;"></td>
        	</tr>
    	</table>
    	{%  endfor %}
	    </td></tr>
	 </table>
	 <table class="total" cellspacing="0">
	 	<tr>
	 		<td class="totaleti">Totales</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td>
	 	</tr>
	 </table><br />
	{% endif %}
	{% if entity.impresion %}
	<table>
		<tr><td style="width:200px;">
		<h3>IMPRESIÓN</h3>
			<table class="tabla2 bordenegro">
				<tr><td>
				<p><i>Kilos</i></p><p><i>Medida</i></p><p><i>Anverso</i></p><p><i>Reverso</i></p><p><i>Colores A</i></p><p><i>Colores R</i></p><p><i>Cliche</i></p><p><i>Carpeta</i></p><p><i>Observaciones</i></p>
				</td>
				<td class="width1">
					<p>{{ entity.kilosimp }}&nbsp;</p><p>{{ entity.medidaimp }}&nbsp;</p><p>{{ entity.anverso }}&nbsp;</p><p>{{ entity.reverso }}&nbsp;</p><p>{{ entity.coloresa }}&nbsp;</p><p>{{ entity.coloresr }}&nbsp;</p><p>{{ entity.clicheText }}&nbsp;</p><p>{{ entity.carpeta }}&nbsp;</p><p>{{ entity.notasimpresion }}&nbsp;</p>
				</td>
				</tr>
			</table>
			<table class="tabla5 bordenegro">
				<tr><td class="tabla5eti">Máquina</td><td>&nbsp;</td></tr>
				<tr><td class="tabla5eti">Tiempo</td><td>&nbsp;</td></tr>
				<tr><td class="tabla5eti">Total</td><td>&nbsp;</td></tr>
			</table>
		</td>
		<td style="width:500px;"><h4>CONTROL DE CALIDAD </h4>
		    	<p class="info">Inspección visual: Inspecciones mínimo cada 2 horas o 1 por bobina.</p>
				  <table cellspacing="0" class="tabla3" style="">
			        <tr>
			            <th style="width: 16%;">FECHA</th>
			            <th style="width: 16%;">HORA</th>
			            <th style="width: 16%;">Nº BOBINA</th>
			            <th style="width: 16%;">PESO</th>
			            <th style="width: 17%;">RESULTADO</th>
			            <th style="width: 17%;">FIRMA</th>
			        </tr>
			    </table>
			    {% for i in 0..6 %}
			    <table cellspacing="0" class="tabla4">
		        	<tr>
		            	<td style="width: 16%; height:18px;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 17%; padding-top:2px;"> <img src="{{ url }}{{ asset('images/nok.png') }}" /></td>
		            	<td style="width: 17%;"></td>
		        	</tr>
		    	</table>
		    	{%  endfor %}
		</td></tr>
	 </table>
	{% endif %}
	{% if entity.corte %}
		<table>
		<tr><td style="width:200px;">
			<h3>CORTE</h3>
				<table class="tabla2 bordenegro">
					<tr><td>
					<p><i>Cantidad</i></p><p><i>Ancho</i></p><p><i>Largo</i></p><p><i>Solapa</i></p><p><i>Bolsa</i></p><p><i>Asa</i></p><!-- <p><i>Paquete</i></p><p><i>Saco</i></p><p><i>Palet</i></p> --><p><i>Observaciones</i></p>
					</td>
					<td class="width1">
						<p>{{ entity.cantidadc }}&nbsp;</p><p>{{ entity.anchoc }}&nbsp;</p><p>{{ entity.largoc }}&nbsp;</p><p>{{ entity.solapa }}&nbsp;</p><p>{{ entity.tipobolsaText }}&nbsp;</p><p>{{ entity.asaText }}&nbsp;</p><!--  <p>{{ entity.paquete }}&nbsp;</p><p>{{ entity.saco }}&nbsp;</p><p>{{ entity.palets }}&nbsp;</p> --><p>{{ entity.notascorte }}&nbsp;</p>
					</td>
					</tr>
				</table>
				<table class="tabla5 bordenegro">
					<tr><td class="tabla5eti">Máquina</td><td>&nbsp;</td></tr>
					<tr><td class="tabla5eti">Tiempo</td><td>&nbsp;</td></tr>
					<tr><td class="tabla5eti">Total</td><td>&nbsp;</td></tr>
			</table>
		</td>
		<td style="width:500px;"><h4>CONTROL DE CALIDAD </h4>
		    	<p class="info">Inspecciones máximo cada 2 horas, mínimo una bobina. Se somete la bosas a tracción manual debe aguantar sin romperse.</p>
				  <table cellspacing="0" class="tabla3" style="">
			        <tr>
			            <th style="width: 16%;">FECHA</th>
			            <th style="width: 16%;">HORA</th>
			            <th style="width: 16%;">ANCHO</th>
			            <th style="width: 16%;">LARGO</th>
			            <th style="width: 17%;">RESULTADO</th>
			            <th style="width: 17%;">FIRMA</th>
			        </tr>
			    </table>
			    {% for i in 0..5 %}
			    <table cellspacing="0" class="tabla4">
		        	<tr>
		            	<td style="width: 16%; height:18px;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 17%; padding-top:2px;"> <img src="{{ url }}{{ asset('images/nok.png') }}" /></td>
		            	<td style="width: 17%;"></td>
		        	</tr>
		    	</table>
		    	{%  endfor %}
		</td></tr>
	 </table>
	{% endif %}
	{% if entity.rebobinado %}
	<table>
		<tr><td style="width:200px;">
		<h3>REBOBINADO</h3>
			<table class="tabla2 bordenegro">
				<tr><td>
				<p>Bobinas</p><p>Metros</p><p>Kgs</p><p>Total</p><p>Observaciones</p>
				</td>
				<td class="width1">
					<p>{{ entity.bobinasr }}&nbsp;</p><p>{{ entity.metrosr }}&nbsp;</p><p>{{ entity.kgr }}&nbsp;</p><p>{{ entity.totalrebobinado }}&nbsp;</p><p>{{ entity.notasrebobinado }}&nbsp;</p>
				</td>
				</tr>
			</table>
			<table class="tabla5 bordenegro">
					<tr><td class="tabla5eti">Máquina</td><td>&nbsp;</td></tr>
					<tr><td class="tabla5eti">Tiempo</td><td>&nbsp;</td></tr>
					<tr><td class="tabla5eti">Total</td><td>&nbsp;</td></tr>
			</table>
		</td>
		<td style="width:500px;"><h4>CONTROL DE CALIDAD </h4><p class="info">Inspección de una bobina cada 2 horas. Si se detecta incidencia se inspeccionaran todas las bobinas</p>
				  <table cellspacing="0" class="tabla3" style="">
			        <tr>
			            <th style="width: 16%;">FECHA</th>
			            <th style="width: 16%;">HORA</th>
			            <th style="width: 16%;">Nº BOBINA</th>
			            <th style="width: 16%;">PESO</th>
			            <th style="width: 17%;">RESULTADO</th>
			            <th style="width: 17%;">FIRMA</th>
			        </tr>
			    </table>
			    {% for i in 0..5 %}
			    <table cellspacing="0" class="tabla4">
		        	<tr>
		            	<td style="width: 16%; height:18px;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 16%;"></td>
		            	<td style="width: 17%; padding-top:2px;"> <img src="{{ url }}{{ asset('images/nok.png') }}" /></td>
		            	<td style="width: 17%;"></td>
		        	</tr>
		    	</table>
		    	{%  endfor %}
		</td></tr>
	</table>
	{% endif %}
</div>
{% endblock %}
</page>