<div id="ver-orden" class="vista3 orden">
	<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container container-sin-header">	
				<div class="span-17 form-horizontal label-column-small form-condensed">
					<div class="control-group"><label class="control-label required">Cliente</label><div class="controls codigo"><b>{{ entity.cliente }}</div></div>
     				<div class="control-group"><label class="control-label required">Pedido Cliente</label><div class="codigo"><b><a href="{{ path('pedidocliente_show', { 'id': entity.pedidoclienteid }) }}">{{ entity.pedidoclienteid }}</a></div></div>
     		
     			</div>
     			<div class="span-10 form-horizontal label-column-small form-condensed"><div class="control-group required">
						<label class="control-label required">Código Orden</label><div class="controls codigo"> {{ entity.id }}</div>
	     			</div>
     			</div>
      			<div class="span-10 form-horizontal label-column-small form-condensed"><div class="control-group required"><label class="control-label required">Fecha</label>
						<div class="controls">{{ entity.fecha|date('d.m.Y') }}</div>
	     			</div>
     			</div>
     			<div class="span-11 form-horizontal label-column-small form-condensed"><div class="control-group required">
						<label class="control-label required">Estado</label>
						<div class="controls"> {{ entity.estadoText }}</div>
	     			</div>
     			</div>
     			<div class="span-17 form-horizontal label-column-small form-condensed">	<div class="control-group required">
						<label class="control-label required">Subcliente</label>
						<div class="controls"> {{ entity.subcliente }}</div>
	     			</div>
     			</div>
     		
	</div>
	<div class="span-25">
		<table cellspacing="0" cellpadding="0" class="tabla4">
        	<tbody><tr>
                   	  <th width="20%"><label>Cantidad</label></th>
                      <td width="80%"><div class="span-7">{{ entity.cantidad }}</div><div class="">{{ entity.cantidaduniText }}</div></td>
                  </tr>
               	  <tr>
               	    <th><label>Espesor</label></th>
               	       <td width="80%"><div class="span-7">{{ entity.espesor }}</div><div class="span-9">{{ entity.espesoruniText }}</div></td>
                  </tr>         
           </tbody>
         </table>
    </div>
    <div class="span-15" style="margin-left:10px;">
		<table cellspacing="0" cellpadding="0" class="tabla4">
           	  <tbody><tr>
                   	  <th width="30%"><label>Material</label></th>
                      <td width="70%"> {{ entity.tipomaterialText }}</tr>
               	 <tr>
                   	  <th width="30%"><label>Producto</label></th>
                      <td width="70%"> {{ entity.productoText }}</tr>
               	             
           </tbody>
         </table>
    </div><div class="clearfix"></div>
<!-- EXTRUSION -->
    <div class="widget-box collapsible">
        <div class="widget-title" id="collapse1" style="cursor:pointer">
    		<span class="icon"><i class="icon-circle-arrow-right"></i></span>
            	<h5>EXTRUSION</h5>
        </div>
        <div id="collapseOne" {% if entity.extrusion == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %} class="in collapse">
        	<div class="widget-content">
				<div class="span-23">
						<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
							 <tr>
								<th style="width:120px;">Color</th>
								<td>{{ entity.color }}</td>
							  </tr>
							  <tr>
						        <th>Ancho</th>
						        <td>{{ entity.ancho  }}</td>
						      </tr>
							<tr>
						        <th>Galga</th>
						        <td>{{ entity.galga  }}</td>
						      </tr>
						      <tr>
						        <th>Largo</th>
						        <td>{{ entity.largo }}</td>
						      </tr>
						      <tr>
						        <th>Plegado</th>
						        <td>{{ entity.plegado  }}</td>
						      </tr>
						      <tr>
						        <th>Metros</th>
						        <td>{{ entity.metrose }}</td>
						      </tr>
						      
						      <tr>
						        <th>Bobinas</th>
						        <td>{{ entity.bobinas  }}</td> 
						      </tr>
						      <tr>
						        <th>Peso Teórico</th>
						        <td>{{ entity.pesoteorico }}</td>
						      </tr>
						      <tr>
						        <th>Tipo Tubo</th>
						        <td>{{ entity.tipotuboText  }}</td>
						      </tr>
						      <tr>
						        <th>Tratado</th>
						        <td>{{ entity.tratadoText }}</td>
						      </tr>
						      <tr>
						        <th>Observaciones</th>
						        <td>{{ entity.notasextrusion|nl2br }}</td>
						      </tr>
						</table>
					 </div>
					 <div class="span-23">
						<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
							 <tr>
								<th style="width:120px;">Fecha Extrusión</th>
								<td>{{ entity.fechaextrusion is empty ? "" : entity.fechaextrusion|date("d.m.Y") }}</td>
							  </tr>
							  <tr>
						        <th>Operario</th>
						        <td>{{ entity.operarioextrusion }}</td>
						      </tr>
							<tr>
						        <th>Tiempo</th>
						        <td>{{  entity.tiempoextrusion is empty ? "" : entity.tiempoextrusion|date('H:i') }}</td>
						      </tr>
						      <tr>
						        <th>Maquina</th>
						        <td>{{ entity.maquinaextrusion }}</td>
						      </tr>
						      <tr>
						        <th>Materia Prima</th>
						        <td></td>
						      </tr>
						</table>
					 </div>	<div class="clearfix"></div><br />
            </div>
        </div>
        <div class="widget-title" id="collapse2" style="cursor:pointer;">
            <span class="icon"><i class="icon-circle-arrow-right"></i></span>
              <h5>IMPRESION</h5>
        </div>
        <div id="collapseTwo" class="in collapse" {% if entity.impresion == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <div class="widget-content">
					<div class="span-23">
							<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
								 <tr>
									<th style="width:120px;">Medida </th>
									<td>{{ entity.medidaimp }}</td>
								  </tr>
								  <tr>
							        <th>Kilos</th>
							        <td>{{ entity.kilosimp  }}</td>
							      </tr>
								  <tr>
							        <th>Anverso</th>
							        <td>{{ entity.anverso  }}</td>
							      </tr>
								<tr>
							        <th>Reverso</th>
							        <td>{{ entity.reverso  }}</td>
							      </tr>
							      <tr>
							        <th>Colores Anversor</th>
							        <td>{{ entity.coloresa  }}</td>
							      </tr>
							      <tr>
							        <th>Colores Reverso</th>
							        <td>{{ entity.coloresr  }}</td>
							      </tr>
							      <tr>
							        <th>Cliche</th>
							        <td>{{ entity.clicheText }}</td>
							      </tr>
							      <tr>
							        <th>Carpeta</th>
							        <td>{{ entity.carpeta }}</td>
							      </tr>
							      <tr>
							        <th>Observaciones</th>
							        <td>{{ entity.notasimpresion|nl2br }}</td>
							      </tr>
							</table>
						 </div>
						 <div class="span-23">
							<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
								 <tr>
									<th style="width:120px;">Fecha Impresión</th>
									<td>{{ entity.fechaimpresion is empty ? "" : entity.fechaimpresion|date("d.m.Y") }}</td>
								  </tr>
								  <tr>
							        <th>Operario</th>
							        <td>{{ entity.operarioimpresion }}</td>
							      </tr>
								<tr>
							        <th>Tiempo</th>
							        <td>{{ entity.tiempoimpresion is empty ? "" : entity.tiempoimpresion|date('H:i')  }}</td>
							      </tr>
							      <tr>
							        <th>Maquina</th>
							        <td>{{ entity.maquinaimpresion }}</td>
							      </tr>
							      <tr>
							        <th>Materia Prima</th>
							        <td></td>
							      </tr>
							</table>
					 </div><div class="clearfix"></div><br />
   			   </div>
         </div>     <!-- collapseTwo -->     
         <div class="widget-title" id="collapse3" style="cursor:pointer;">
            <span class="icon"><i class="icon-circle-arrow-right"></i></span>
              <h5>CORTE</h5>
        </div>
         <div id="collapseThree" class="in collapse" {% if entity.corte == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <div class="widget-content">
 				<div class="span-23">
					<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
						 <tr>
							<th style="width:120px;">Cantidad</th>
							<td>{{ entity.cantidadc }}</td>
						  </tr>
						  <tr>
					        <th>Ancho</th>
					        <td>{{ entity.anchoc  }}</td>
					      </tr>
						<tr>
					        <th>Largo</th>
					        <td>{{ entity.largoc  }}</td>
					      </tr>
					      <tr>
					        <th>Solapa</th>
					        <td>{{ entity.solapa  }}</td>
					      </tr>
					      <tr>
					        <th>Bolsa</th>
					        <td>{{ entity.tipobolsaText  }}</td>
					      </tr>
					    <tr>
					        <th>Asa</th>
					        <td>{{ entity.asaText  }}</td>
					      </tr>
					      <tr>
					        <th>Paquete</th>
					        <td>{{ entity.paquete  }}</td>
					      </tr>
					      <tr>
					        <th>Saco</th>
					        <td>{{ entity.saco }}</td>
					      </tr>
					      <tr>
					        <th>Palet</th>
					        <td>{{ entity.palets }}</td>
					      </tr>
					      <tr>
					        <th>Observaciones</th>
					        <td>{{ entity.notascorte|nl2br }}</td>
					      </tr>
					</table>
				 </div>
				 <div class="span-23">
					<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
						 <tr>
							<th style="width:120px;">Fecha Producción</th>
							<td>{{ entity.fechacorte is empty ? "" : entity.fechacorte|date("d.m.Y") }}</td>
						  </tr>
						  <tr>
					        <th>Operario</th>
					        <td>{{ entity.operariocorte }}</td>
					      </tr>
						<tr>
					        <th>Tiempo</th>
					        <td>{{ entity.tiempocorte is empty ? "" : entity.tiempocorte|date('H:i') }}</td>
					      </tr>
					      <tr>
					        <th>Maquina</th>
					        <td>{{ entity.maquinacorte}}</td>
					      </tr>
					      <tr>
					        <th>Materia Prima</th>
					        <td></td>
					      </tr>
					</table>
				 </div><div class="clearfix"></div><br />
   			   </div>
         </div>  <!-- collapseFOUR -->    
         <div class="widget-title" id="collapse4" style="cursor:pointer;">
            <span class="icon"><i class="icon-circle-arrow-right"></i></span>
              <h5>REBOBINADO</h5>
        </div>
         <div id="collapseFour" class="in collapse" {% if entity.rebobinado == 1 %}style="display:block;"{% else %}style="display:none;"{% endif %}>
            <div class="widget-content">
 				<div class="span-23">
					<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
						 <tr>
							<th style="width:120px;">Bobinas</th>
							<td>{{ entity.bobinasr }}</td>
						  </tr>
						  <tr>
					        <th>Metros Bobina</th>
					        <td>{{ entity.metrosr  }}</td>
					      </tr>
						<tr>
					        <th>Kg Bobina</th>
					        <td>{{ entity.kgr  }}</td>
					      </tr>
					      <tr>
					        <th>Total</th>
					        <td>{{ entity.totalrebobinado  }}</td>
					      </tr>
					       <tr>
					        <th>Observaciones</th>
					        <td>{{ entity.notasrebobinado|nl2br }}</td>
					      </tr>
					</table>
				 </div>
				 <div class="span-23">
					<table cellspacing="0" cellpadding="0" class="tabla4" style="width:350px;">
						 <tr>
							<th style="width:120px;">Fecha Producción</th>
							<td>{{ entity.fecharebobinado is empty ? "" : entity.fecharebobinado|date("d.m.Y") }}</td>
						  </tr>
						  <tr>
					        <th>Operario</th>
					        <td>{{ entity.operariorebobinado }}</td>
					      </tr>
						<tr>
					        <th>Tiempo</th>
					        <td>{{ entity.tiemporebobinado is empty ? "" : entity.tiemporebobinado|date('H:i') }}</td>
					      </tr>
					      <tr>
					        <th>Maquina</th>
					        <td>{{ entity.maquinarebobinado }}</td>
					      </tr>
					      <tr>
					        <th>Materia Prima</th>
					        <td></td>
					      </tr>
					</table>
				 </div><div class="clearfix"></div><br />
   			   </div>
         </div>  <!-- collapseThree -->    
      </div>  
</div>