{% extends '::layout.html.twig' %}
{% block title "Editar Cliente" %}

{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}

{% block content %}
<div class="title title-spacing ventas">
					<h2>Editar Cliente</h2>
</div>
	{% include 'PBVentasBundle:Cliente:form.html.twig' with { 'form' : form } %}
    <div class="float-left volver">
        <a href="{{ path('cliente') }}">
         <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <!-- 
    <div class="float-left">
        <form action="{{ path('cliente_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="ui-state-default ui-corner-all boton-eliminar" onclick="return confirm('Desea eliminar el item? Esta accion no se puede deshacer');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
    -->
{% endblock %}