{# note que en este caso utilizamos el layout de ajax para así no cargar todo el contenido del layout general #}
{# extends app.request.isXmlHttpRequest ? "::layout_ajax.html.twig" : "::layout.html.twig" #}
{% extends "::layout_ajax.html.twig" %}
{% block title entity.nombre %}

{% block content %}
  <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
		<div class="portlet-content show">
		<div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
 <table>
   <tbody>
     <tr>
        <td class="label">Código cliente</td><td class="campo">{{ entity.id }}</td>
      </tr>
       <tr>
        <td class="label">Nombre</td><td class="campo"><b>{{ entity.nombre }}</b></td>
      </tr>
       <tr>
        <td class="label">Nif</td><td class="campo">{{ entity.nif }}</td>
      </tr>
      <tr>
        <td class="label">Dirección</td><td class="campo">{{ entity.direccion }}</td>
      </tr>
      <tr>
        <td class="label">Código Postal</td><td class="campo">{{ entity.cp }}</td>
      </tr>
      <tr>
        <td class="label">Provincia</td><td class="campo">{{ entity.provinciacliente }}</td>
      </tr>
      <tr>
        <td class="label">Pais</td><td class="campo">{{ entity.pais }}</td>
      </tr>
      <tr>
        <td class="label">Teléfono</td><td class="campo">{{ entity.telefono }}</td>
      </tr>
      <tr>
        <td class="label">Fax</td><td class="campo">{{ entity.fax }}</td>
      </tr>
      <tr>
        <td class="label">Móvil</td><td class="campo">{{ entity.movil }}</td>
      </tr>
      <tr>
        <td class="label">Email</td><td class="campo">{{ entity.email }}</td>
      </tr>
      <tr>
        <td class="label">Web</td><td class="campo">{{ entity.web }}</td>
      </tr>
      <tr>
        <td class="label">Comercial</td><td class="campo">{{ entity.comercialcliente }}</td>
      </tr>
      <tr>
        <td class="label">Cuenta Bancaria</td><td class="campo">{{ entity.cuenta }}</td>
      </tr>
      <tr>
        <td class="label">Recargo</td><td class="campo">{{ entity.recargo ? 'Si' : 'No' }}</td>
      </tr>
      <tr>
        <td class="label">Forma de pago</td><td class="campo">{{ entity.formapagocliente }}</td>
      </tr>
      <tr>
        <td class="label">Observaciones</td><td class="campo">{{ entity.observaciones|nl2br }}</td>
      </tr>
	  <tr>
        <td class="label">Fecha Alta</td><td class="campo">{{ entity.fechaalta|date('d.m.Y') }}</td>
      </tr>
     </tbody>
     </table>
  </div></div></div>
{% endblock %}