   {% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}

<form action="{{ entity.id  ? path('factura_update', { 'id': entity.id }) : path('factura_create') }}" method="post" {{ form_enctype(form) }}>
	<div style="display:none;">
			{{ form_widget(form.cliente, { 'attr': {'class': ''}}) }}
			{{ form_widget(form.fecha, { 'attr': {'class': ''}}) }}
			{{ form_widget(form.fecha_cobro, { 'attr': {'class': '' }}) }}
			{{ form_widget(form.iva, { 'attr': {'class': ''}}) }}
			{{ form_widget(form.recargo, { 'attr': {'class': ''}}) }}
			{{ form_widget(form.descuento, { 'attr': {'class': '' }}) }}
			{{ form_widget(form.tipo, { 'attr': {'class': '' }}) }}
			{{ form_widget(form.formapago_factura, { 'attr': {'class': '' }}) }}
			{{ form_widget(form.fecha_cobro, { 'attr': {'class': '' }}) }}
			{{ form_widget(form.estado, { 'attr': {'class': '' }}) }}
			<input type="hidden" name="formapagoh" id="formapagoh" value="{{ entity.cliente.formapagocliente.id }}" />
	</div>
<table id="cab">
			<tr>
				<td class="label4" style="width:100px;">Cliente</td>
				<td>{{ entity.cliente }}</td>
				<td class="label4" style="width:100px;">Cod Cliente</td>
				<td>{{ entity.cliente.id }}</td>
				<td class="label4" style="width:100px;" colspan="1">Cod Factura</td>
				<td colspan="3">{{ entity.id }}</td>
			</tr>
			<tr>
				<td class="label4">Dirección</td>
				<td>{{ entity.cliente.direccion }} {{ entity.cliente.cp }} {{ entity.cliente.localidad }} ({{ entity.cliente.provinciacliente }})</td>
				<td class="label4">Forma de pago</td>
				<td>{{ entity.cliente.formapagocliente }}</td>
				<td class="label4">Nif</td>
				<td>{{ entity.cliente.nif }}</td>
			</tr>
		</table><br/>
	<table id="cab" class="tabla2">
		<tr>
			<td class="label4">Fecha</td>
			<td>{{ entity.fecha|date('d/m/Y') }}
			<td class="label4">IVA</td>
			<td>{{ entity.iva }}%<input type="hidden" name="ivah" id="ivah" value="{{ entity.iva }}" /></td>
			<td class="label4">Descuento</td>
			<td>{{ entity.descuento }}% <input type="hidden" name="descuentoh" id="descuentoh" value="{{ entity.descuento }}" /></td>
			<td class="label4">Recargo</td>
			<td>{{ entity.recargo ? 'Si' : 'No'  }}<input type="hidden" name="recargoh" id="recargoh" value="{{ entity.recargo }}" /></td>
		</tr>
	</table>
 	<div class="clearfix"></div><br /><br />
	<div id="invoice-lines">
      <div class="clearfix"></div>
     {% macro prototype(linea) %}
			<tr class="item-row">	
					<td class="editable">
					    {{ form_widget(linea.referencia, { 'attr': {'class': 'ta_right'}}) }}
					    <div class="delete-wrap"><a title="Borrar Linea" class="delete" href="#" onclick="return false;">&nbsp;</a></div>
					</td>
					<td class="editable">
					    {{ form_widget(linea.descripcion, { 'attr': {'class': 'idescripcion'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.ancho, { 'attr': {'class': 'ta_right iancho'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.largo, { 'attr': {'class': 'ta_right ilargo numeric'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.galga, { 'attr': {'class': 'ta_right igalga numeric'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.cantidad, { 'attr': {'class': 'ta_right icantidad numeric'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.precio, { 'attr': {'class': 'ta_right iprecio numeric', 'style': 'width:71%'}}) }}
					  <div class="icono-poner-precio"> <a href="#" class="buscaprecio" rel="{{ linea.precio.vars.id }}" title="Buscador de Precio"><img src="{{ asset('images/16euro.png') }}" /></a></div>
					  	<!-- <a rel="prettyPhoto[iframe]" href="{{ path('buscador_precio_albaran', { 'id': '' , 'back': linea.precio.vars.id,  'iframe': 'true', 'width': 750, 'height': 500 }) }}" title="Buscador de Precio"><img src="{{ asset('images/16euro.png') }}" /></a></div> -->
					</td>
					<td class="total">
						<span class="ta_right totallinea">{{ linea.importe.vars.value }}</span>
					 {{ form_widget(linea.importe, { 'attr': {'class': 'ta_right itotal'}}) }}
					 	{{ form_widget(linea.codpedido, { 'attr': {'class': 'ta_right'}}) }}
					</td> 
				</tr>
	     {% endmacro %}
		<table cellspacing="0" style="" class="invoice-lines spreadsheet" id="invoice-time">
			<thead>
				<tr>
					<th style="width: 60px;">Referencia</th>
					<th style="width: 310px;">Descripcion</th>
					<th style="width: 30px;">Ancho</th>
					<th style="width: 30px;">Largo</th>
					<th style="width: 30px;">Galga</th>
					<th class="ta_right" style="width: 45px;">Cantidad</th>
					<th class="ta_right" style="width: 59px;">Precio</th>
					<th class="ta_right last" style="width: 60px;">Total</th>
				</tr>
			</thead>

			<tbody>
			  {% for linea in form.facturalineas %}
                {{_self.prototype(linea)}}
  			   {% endfor %}
			</tbody>
		</table>
	</div>
	<div class="prototipo" data-prototype="{{ _self.prototype(form.facturalineas.get('prototype'))|e }}"></div>
	<div class="totals">
		<div class="rule top"></div>
	    	<div class="float_left">
	    		<div class="spreadsheet actions">
	    			<ul>
	    				<li title="" style="width:100px;" class="ui-state-default ui-corner-all"><span class="ui-icon ui-icon-plusthick"></span><a id="addrow" onclick="return false;" href="#">Añadir Línea</a></li>
	    			</ul>
	    		</div>
	    		<!-- 
	    		<div class="spreadsheet actions">
	    		   <ul class="nuevo-pedido">
	    			    <li><input type="text" name="codpedido" id="codpedido" class="numeric" /></li>
	    				<li title="" class="ui-state-default ui-corner-all" style="margin-top:2px;"><span class="ui-icon ui-icon-plusthick"></span><a id="addpedido" onclick="return false;" href="#">Añadir Pedido</a></li>
	    			</ul>
	    		<div class="error-pedido">
	    		</div>
	    		</div>
	    		-->
	    	</div>	
			<div class="box">
				<table cellspacing="0" class="table-totals">
					<tbody>
						<tr id="subtotal-row">
							<td style="width: 20px">&nbsp;</td>
							<th style="width: 150px">Importe Neto</th>
							<td class="last-column neto">0.00&euro;</td>
						</tr>
						<tr id="amount-row">
							<td style="width: 20px" class="last">&nbsp;</td>
							<th class="span-9 amount-cell"><span class="amount-total">Descuento</span> <span class="currency descuento-label">(<span>0</span>%)</span></th>
							<td class="last-column descuento">0.00&euro;</td>
						</tr>
						<tr id="amount-row">
							<td style="width: 20px" class="last">&nbsp;</td>
							<th class="span-9 amount-cell"><span class="amount-total">Base Imponible</span></th>
							<td class="last-column baseimponible">0.00&euro;</td>
						</tr>
						<tr id="amount-row">
							<td style="width: 20px" class="last">&nbsp;</td>
							<th class="span-9 amount-cell"><span class="amount-total">Iva</span> <span class="currency iva-label">(<span>21</span>%)</span></th>
							<td class="last-column iva">0.00&euro;</td>
						</tr>
						<tr id="amount-row">
							<td style="width: 20px" class="last">&nbsp;</td>
							<th class="span-9 amount-cell"><span class="amount-total">Recargo</th>
							<td class="last-column recargo">0.00&euro;</td>
						</tr>
						<tr class="invoice-total-box" id="outstanding-row">
							<td style="width: 20px">&nbsp;&nbsp;{{ form_widget(form.importetotal, { 'attr': {'class': 'itotal2'}}) }}</td>
							<th>Total</th>
							<td class="last-column total2">0.00&euro;</td>
						</tr>
					</tbody>
				</table>
			</div>
			<div class="clearfix"></div>
			<div class="observaciones">			
				{{ form_label(form.observaciones) }} <div class="clearfix"></div>
		    	{{ form_widget(form.observaciones, { 'attr': {'cols': '50', 'rows': '6'}}) }}
			</div>
	</div>
    <div class="clearfix"></div>
    <p>
        <button type="submit" class="ui-state-default ui-corner-all">Guardar</button>
    </p>
{{ form_widget(form._token) }}</form>
<script>
    var add = function() {
        var index = $('table.invoice-lines tbody tr').length;
        var prototype = $('.prototipo').attr('data-prototype');
        var row = prototype.replace(/__name__/g, index);
        $('table.invoice-lines tbody').append(row);
        bindAlbaran();
    };

    $('#addrow').live('click', function(event) {
            add();
          //  event.preventDefault();
    });
    $(".delete").live('click',function(){
        $(this).closest('tr').remove();
        update_total_albaran();
        if ($(".delete").length < 2) $(".delete").hide();
        //event.preventDefault();
      });
    
    $(".buscaprecio").live('click',function(){
        var cliente = '{{ entity.cliente.id }}';
		var rel = $(this).attr('rel');
        if(cliente == '') {
			alert('Debe introducir un cliente');
         } else {
        	 $.prettyPhoto.open('/PB2.2/web/app_dev.php/ventas/precio/buscador_albaran/'+cliente+'/'+rel+'?iframe=true&width=1080&height=600','Buscador de Precios','Listado de precios de cliente');
         }
        return;
    });
    
    if ($('table.invoice-lines tbody tr').length === 0) {
        add();
    }
    $(document).ready(function() {
  	  //update_total();
  	  // Acutalizamos los datos de DESCUENTO IVA y RECARGO, en base a los datos del paso anterior y se preparan para guardarse bbdd
  	 /* $('#factura_recargo').val($('#recargoh').val());
  	  $('#factura_descuento').val($('#descuentoh').val());*/
  	  $('.descuento-label span').html($('#descuentoh').val());
  	  $('.iva-label span').html($('#ivah').val()+"€");
  	  $('#factura_formapago_factura').val($('#formapagoh').val());

  	  bindAlbaran();
  	});
</script>