{% extends '::layout_ajax.html.twig' %}

{% block title 'Factura' %}

{# block width100 "widthtotal" %}{% block displaysidebar "display:none;" #}
{% block content %}
{% if form_errors(form) %}  <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div> {% endif %}
<form class="well" action="{{ path('factura_mail', { 'id': entity.id })  }}" method="post">
<div id="lightbox-wrapper">
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Enviar Factura por correo electrónico</div>
		<div class="portlet-content form-alta">
		   <table>
		   <tbody>
		     <tr>
		        <td class="label" style="width:150px;"><label>Nombre Cliente</label></td>
		        <td class="campo"><p><b>{{ entity.cliente }}</b></p></td><td></td>
		      </tr> 
		      <tr>
		        <td>{{ form_label(form.email, 'Email') }}</td>
		        <td>{{ form_widget(form.email) }}</td><td>{{ form_errors(form.email) }}</td>
		      </tr>
		      <tr>
		        <td>{{ form_label(form.subject, 'Asunto') }}</td>
		        <td>{{ form_widget(form.subject) }}</td><td>{{ form_errors(form.subject) }}</td>
		      </tr>
		      <tr> 
		      	<td class="label">{{ form_label(form.body, 'Mensaje') }}</td>
		        <td class="campo">{{ form_widget(form.body, { 'attr': {'cols': '34', 'rows': '7'}}) }}</td><td> {{ form_errors(form.body) }}
		        </td></tr>
		       <tr>
		       <td colspan="3"><p>La Factura será enviado en un pdf adjunto al mail</p></td>
		       </tr>
		      </tbody>
		    </table>
		    <div class="guardar">
	        <button type="submit" class="ui-state-default ui-corner-all">Enviar !!</button>
			</div> 
		</div>
</div>
<div class="clearfix"></div></div>{{ form_widget(form._token) }}
</form>
{% endblock %}