{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Factura {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Factura</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fecha|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha_cobro</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fechacobro|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Tipo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.tipo }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Iva</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.iva }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Descuento</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.descuento }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Recargo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.recargo }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Anyo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.anyo }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Importetotal</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.importetotal }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Estado</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.estado }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Observaciones</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.observaciones }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('factura') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('factura_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('factura_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}