{% extends '::layout.html.twig' %}

{% block title "Extrusion" %}

{% block content %}
<script type="text/javascript">
<!--
// http://fancybox.net/api
$(document).ready(function() { 
	$("a.iframe-extrusion").fancybox({
		'hideOnContentClick': false,
		'width': 650,
		'height': 500,
		'scrolling': 'yes',
		'transitionIn': 'elastic',
		'modal': false,
		'onClosed': function() {
			window.location.reload();
		 }
	});
	 $("#anadir").click(function (event) {
	     var ordenid = $('#form_orden').val();
	     if (ordenid == '') {
			alert('Debe Introducir un código de orden');
		 } else {
			 var material = $('#form_material').val();
			 var ancho = $('#form_ancho').val();
			 $('.bar').css('width','100px').show();
	     } event.preventDefault();
		 });
});
//-->
</script>
<div id="extrusion">
	<div class="title title-spacing produccion"><h2>{{ codigo }} - {{ nombre }}</h2></div>        
 <div class="maquinaextrusion">   
 <div class="portlet form-bg-2 ui-widget ui-widget-content ui-helper-clearfix ui-corner-all buscador"><div class="portlet-header ui-widget-header">AÑADIR TRABAJO</div>
	    <div class="portlet-content">
            <form class="well" action="" method="post" {{ form_enctype(form) }}>
			<table id="form-alta">
	   				<tbody> 
	   				   <tr>
	        				<td class="label">{{ form_label(form.orden, 'Orden de Fabricación') }}</td>
	        				<td class="campo" style="width:100px;">{{ form_widget(form.orden, { 'attr': {'class': 'small numeric ordenid'}}) }}
	        				<a rel="prettyPhoto[iframe]" href="{{ path('anadir_orden_fabricacion', { 'id': '' , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title=""><img src="{{ asset('images/search.png') }}" /></a></td><td><div class="controls nombre-cliente" style="display:none;"><h2>Nombre de cliente</h2></div></td>
	      				<tr>
	   				   <tr>
	        				<td class="label">{{ form_label(form.material, 'Material') }}</td>
	        				<td class="campo">{{ form_widget(form.material, { 'attr': {'class': ''}}) }}</td><td><div class="controls nombre-subcliente" style="display:none;"><h2>Nombre de Subcliente</h2></div></td>
	      				<tr>
	      			   <tr>
	        				<td class="label">{{ form_label(form.ancho, 'Ancho') }}</td>
	        				<td class="campo">{{ form_widget(form.ancho, { 'attr': {'class': 'small numeric'}}) }}</td><td></td>
	      				<tr>
	            	   <tr>
	        				<td class="label">{{ form_label(form.galga, 'Galga') }}</td>
	        				<td class="campo">{{ form_widget(form.galga, { 'attr': {'class': 'small numeric'}}) }}</td><td></td>
	      				<tr>
	            	
	            	</tbody>
	          </table>
                <p class="botones-buscador">
 					<div class="btn-nuevo"><a class="btn ui-state-default ui-corner-all" id="anadir" href="#"><span class="ui-icon ui-icon-plusthick"></span>Añadir Trabajo</a></div>
                </p>
				 {{ form_widget(form._token) }}</form> <div class="clearfix"></div><br />
				
				<div class="extrusion-visual">
				<div class="progress">
					<div style="display:none;" class="bar"></div>
					<div style="display:none;" class="bar bar-info"></div>
					<div style="display:none;" class="bar bar-success"></div>
					<div style="display:none;" class="bar bar-warning"></div>
					<div style="display:none;" class="bar bar-danger"></div>
				</div>
				</div>
		</div>
	</div>
	<div style="display:none;">
	</div>
 
 <div class="btn-nuevo"><a class="btn ui-state-default ui-corner-all" href="{{ path('anadir_trabajo_extrusion') }}"><span class="ui-icon ui-icon-plusthick"></span>Añadir Trabajo</a></div>
	 
	 <div class="clearfix"></div>
	 <div class="tablesup"><h6>{{ codigo }} - {{ nombre }}</h6></div>
<div class="hastable">
    	<table class="records_list">
    		<thead> <tr>
		            <th width="25">Codigo Orden</th>
		            <th>Material</th>
		            <th>Color</th>
		            <th>Ancho</th>
		            <th>Plegado</th>
		            <th>Galga</th>
		            <th>Metros</th>
		            <th>Bobinas</th>
					<th>Peso Neto</th>
		            <th>Peso Teórico</th>
		            <th>Cliente</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for linea in extrusion %}
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
		    {%  endfor %}
		    </tbody>
		</table>
    </div>
 </div>
    <div class="float-left volver" style="width: 200px;">
        <a href="{{ path('extrusion') }}">
          <<  Volver al Listado de Máquinas
        </a>
    </div>
</div>
	     {% include 'PBProduccionBundle:Orden:js_get_orden.html.twig' %} 
   {% endblock %}