{% extends '::layout.html.twig' %}
{% block title "Extrusion" %}

{% block content %}
<div id="extrusion">
<div class="title title-spacing produccion"><h2>Extrusion</h2></div> 

						<ul id="dashboard-buttons">
							<li>
								<a href="{{ path('extrusion_maquina', {'maquina': 1}) }}" class="proveedor tooltip" title="E1 - IBAÑEZ">
									E1 - IBAÑEZ
								</a>
							</li>
							<li>
								<a href="{{ path('extrusion_maquina', {'maquina': 2}) }}" class="pedidocompra tooltip" title="E2 - COVEX 75">
									E2 - COVEX 75
								</a>

							</li>
							<li>
								<a href="{{ path('extrusion_maquina', {'maquina': 3}) }}" class="pedidocompra tooltip" title="E3 - COREANA I">
									E3 - COREANA I
								</a>
							</li>
							<li>
								<a href="{{ path('extrusion_maquina', {'maquina': 4}) }}" class="pedidocompra tooltip" title="E4 - COREANA II">
									E5 - COREANA II
								</a>
							</li>
							<li>
								<a href="{{ path('extrusion_maquina', {'maquina': 5}) }}" class="pedidocompra tooltip" title="E5 - COVEX 60">
									E5 - COVEX 60
								</a>
							</li>
						</ul>
						<div class="clearfix"></div>
</div>
 {% endblock %}