<div class="hastable">
    	<table class="records_list">
    		<thead> <tr>
		            <th width="25">Codigo Orden</th>
		            <th>Material</th>
		            <th>Color</th>
		            <th>Ancho</th>
		            <th>Plegado</th>
		            <th>Galga</th>
		            <th>Metros</th>
		            <th>Bobinas</th>
					<th>Peso Neto</th>
		            <th>Peso Teórico</th>
		            <th>Cliente</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for linea in entities %}
				<tr>
					<td>{{ linea.orden.id }}</td>
					<td>{{ linea.orden.tipomaterialText }}</td>
					<td>{{ linea.orden.color }}</td>
					<td>{{ linea.orden.ancho }}</td>
					<td>{{ linea.orden.plegado }}</td>
					<td>{{ linea.orden.galga }}</td>
					<td>{{ linea.orden.metrose }}</td>
					<td>{{ linea.orden.bobinas }}</td>
					<td>{{ linea.pesoneto }}</td>
					<td>{{ linea.pesoteorico }}</td>
					<td>{{ linea.orden.cliente }}</td>
				</tr>
		    {%  endfor %}
		    </tbody>
		</table>
    </div>