{% extends '::layout.html.twig' %}

{% block content %}
				<div class="page-title ui-widget-content ui-corner-all">
					<h1>Panel de Control</h1>
					<div class="other">

						<ul id="dashboard-buttons">
							<li>
								<a href="{{ path('proveedor') }}" class="proveedor tooltip" title="Proveedores">
									Proveedores
								</a>
							</li>
							<li>
								<a href="{{ path('compras_pedidocompra') }}" class="pedidocompra tooltip" title="Pedido Compra">
									Pedidos compra
								</a>

							</li>
							<li>
								<a href="#" class=" tooltip" title=""></a>
							</li>
							<li>
								<a href="#" class=" tooltip" title=""></a>
							</li>
							<li>
								<a href="#" class=" tooltip" title=""></a>
							</li>
							<li>
								<a href="{{ path('cliente') }}" class="clientes tooltip" title="Clientes">
									Clientes
								</a>
							</li>
							<li>
								<a href="{{ path('pedido') }}" class="pedidocompra tooltip" title="Pedidos">
									Pedidos
								</a>
							</li>
							<li>
								<a href="{{ path('albaran') }}" class="albaranes tooltip" title="Albaranes">
								Albaranes
								</a>

							</li>
							<li>
								<a href="{{ path('factura') }}" class="facturas tooltip" title="Facturas">
								Facturas
								</a>
							</li>
							<li>
								<a href="#" class=" tooltip" title="">
									
								</a>

							</li>
							<li>
								<a href="{{ path('presupuesto') }}" class=" tooltip presupuestos" title="Presupuestos">
								 Presupuestos</a>

							</li>
							<li>
								<a href="{{ path('precio') }}" class="precios tooltip" title="Precios">
									Precios
								</a>
							</li>

							<li>
								<a href="#" class=" tooltip" title="">
									
								</a>
							</li>
							<li>
								<a href="#" class=" tooltip" title="">
								
								</a>

							</li>
							<li>
								<a href="#" class=" tooltip" title="">
								
								</a>
								<div class="clearfix"></div>
							</li>
						</ul>
						<div class="clearfix"></div>
					</div>
					

				</div>
 {% endblock %}