{% extends '::layout_ajax.html.twig' %}

{% block title "Procesar Albaran Compra" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<script>
var reload = '{{ reload }}';
if (reload == 'ok'){
	//window.parent.location.reload();
	window.parent.$.fancybox.close();
}
function Cancelar() {
	window.parent.$.fancybox.close();
}
</script>
<div id="lightbox-wrapper">
<div class="albarancompra procesar-materiales">
	<div class="title title-spacing"><h2>Recibir Materiales</h2></div>
	<form action="{{ path('albarancompra_procesar', { 'id': id }) }}" method="post">
	<div class="portlet-content form-alta">
          {% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}
		<div class="span-19 form-horizontal">
		  <div class="control-group">
			 	{{ form_label(form.cantidad, null, { 'label': 'Cantidad', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.cantidad, { 'attr': {'class': 'small numeric'}}) }}</div>
		  </div>
		<!--  <div class="control-group">
			{{ form_label(form.referencia, null, { 'label': 'Referencia', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.referencia, { 'attr': {'class': 'small'}}) }}</div>
		  </div> -->
		  <div class="control-group">
			 	{{ form_label(form.descripcion, null, { '': 'Descripcion', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.descripcion, { 'attr': {'class': 'medium'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.producto, null, { 'label': 'Producto', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.producto, { 'attr': {'class': ''}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.ancho, null, { 'label': 'Ancho', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.ancho, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		 <!--  <div class="control-group">
			 	{{ form_label(form.largo, null, { 'label': 'Largo', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.largo, { 'attr': {'class': 'small'}}) }}</div>
		  </div> -->
		  <div class="control-group">
			 	{{ form_label(form.galga, null, { 'label': 'Galga / Espesor', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.galga, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		</div>
		<div class="span-18 form-horizontal">

		   <!-- <div class="control-group">
			 	{{ form_label(form.paquete, null, { 'label': 'Paquete', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.paquete, { 'attr': {'class': 'small'}}) }}</div>
		  </div> -->
		  <div class="control-group">
			 	{{ form_label(form.serie, null, { 'label': 'Serie / Lote', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.serie, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.fecha_entrada, null, { 'label': 'Fecha Entrada', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.fecha_entrada, { 'attr': {'class': 'small date'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.estanteria, null, { 'label': 'Estanteria', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.estanteria, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.nivel, null, { 'label': 'Nivel', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.nivel, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.posicion, null, { 'label': 'Posicion', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.posicion, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  
		  
		  
		  
		  <div class="guardar">
	        <button type="submit"  class="ui-state-default ui-corner-all">Guardar en Almacen</button>
		  </div> 		  
		</div>
	<div class="clearfix"></div>

</div>{{ form_widget(form._token) }}
</form>
	<div class="hastable">
		<table class="records_list">
			<thead>
				<tr><th>Producto</th><th>Descripcion</th><th>Ancho</th><th>Galga</th><th>Serie / Lote</th><th>Cantidad</th><th style="width:50px">Eliminar</th></tr>
			</thead>
	<tbody>		
    {% for almacen in almacenes %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td><a href="{{ path('almacen_show', { 'id': almacen.id }) }}">{{ almacen.producto }}</a></td>
            <td>{{ almacen.descripcion }}</td>
            <td>{{ almacen.ancho }}</td>
            <td>{{ almacen.galga }}</td>
            <td>{{ almacen.serie }}</td>
            <td>{{ almacen.cantidad }}</td>
            <td>
            	<a href="{{ path('albarancompra_eliminar_almacen', { 'id': id , 'aid': almacen.id }) }}" title="Eliminar"  onclick="return confirm('Desea eliminar el item? Esta accion no se puede deshacer');"><img src="{{ asset('images/delete.gif') }}" alt="Eliminar Item"></a>
            </td>
        </tr>
    {% endfor %}
    </tbody>			
		</table>
	</div>
			  <div class="guardar">
	        <form action="{{ path('albarancompra_procesar_estado', { 'id': id }) }}" name="procesartotal" method="post">
	        	<button type="submit" class="ui-state-default ui-corner-all">Procesar Todo</button>
	        	 <div style="display:none;">{{ form_rest(form) }}</div>{{ form_widget(form._token) }}
	        	<input type="hidden" name="estado" value="3" />
	        </form>
	        <form action="{{ path('albarancompra_procesar_estado', { 'id': id }) }}" name="procesartotal" method="post">
	        	<button type="submit" class="ui-state-default ui-corner-all">Procesar Parcial</button>
	        	 <div style="display:none;">{{ form_rest(form) }}</div>{{ form_widget(form._token) }}
	        	<input type="hidden" name="estado" value="2" />
	        </form>	        
	        <button type="submit" onClick="Cancelar();" class="ui-state-default ui-corner-all">Cancelar</button>
		  </div> 	
</div></div>
{% endblock %}