{% extends '::layout.html.twig' %}

{% block title "Recibir Albaran Compra" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<script>
$(document).ready(function() {
     // http://fancybox.net/api
		$("a.iframe").fancybox({
			'hideOnContentClick': false,
			'width': 800,
			'height': 450,
			'transitionIn': 'elastic',
			'modal': false,
			'onClosed': function() {
				window.location.reload();
			                 }
		});
});

</script>
<div class="albarancompra recibir-materiales">
<div class="title title-spacing"><h2>Recibir Albaran Compra</h2></div>
<form action="{{ path('albarancompra_recibir', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
<div class="content-box content-box-header ui-corner-all ">
	<div class="ui-state-default ui-corner-top ui-box-header"><span class="ui-icon float-left ui-icon-signal"></span>Datos de Albaran Compra</div>
    	<div class="content-box-wrapper">
			<div class="form-invoice">
				<div class="span-17 form-horizontal label-column-small form-condensed">
					<div class="control-group required">
						<label class="control-label">Proveedor</label>
						<div class="controls">
			    			<span><b>{{ entity.proveedor }}</b></span>
		        		</div>
	     			</div>
     			</div>
     			<div class="span-17 form-horizontal label-column-small form-condensed">
	     			<div class="control-group required">
						<label class="control-label">Fecha</label>
						<div class="controls">
			    			<span> {{ entity.fecha|date('d.m.Y') }} </span>
		        		</div>
	     			</div>
     			</div>
      			<div class="span-16 form-horizontal label-column-small form-condensed">
					<div class="control-group required">
						{{ form_label(form.fecha_recepcion, null, { 'label': 'Fecha Recepción', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.fecha_recepcion, { 'attr': {'class': 'date small'}}) }}
		        		</div>
	     			</div>
				<!-- 	<div class="control-group required">
						{{ form_label(form.estado, null, { 'label': 'Estado', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.estado, { 'attr': {'class': 'small'}}) }}
		        		</div>
	     			</div> -->
     			</div>
 			</div>
 		</div>
 	</div>
	<div class="clearfix"></div>
	<div id="invoice-lines">
      <div class="clearfix"></div>
     {% macro prototype(linea) %}
			<tr class="item-row">	
					<td class="editable">
					    {{ form_widget(linea.referencia, { 'attr': {'class': 'ta_right'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.descripcion, { 'attr': {'class': 'idescripcion'}}) }}
					</td>
					<td class="editable">
					    {{ form_widget(linea.cantidad, { 'attr': {'class': 'ta_right icantidad numeric'}}) }}
					</td>
					<td class="editable sininput"><span class="estadoc estado{{ linea.estado.vars.value }}">{{ linea.estadoText.vars.value }}</span>
					 </td>
					<td class="editable sininput">
						{% if linea.estado.vars.value != 3 %}
						<span><a class="iframe" href="{{ path('albarancompra_procesar', { 'id': linea.id.vars.value }) }}"><img src="{{ asset('images/received.png') }}" alt="Procesar MAteriales" /></a></span>
				    	{% else %}
				    		{{ linea.referencia.vars.value }}
				    	{% endif %}
				    </td>
				</tr>
	     {% endmacro %}
		<table cellspacing="0" style="" class="invoice-lines spreadsheet" id="invoice-time">
			<thead>
				<tr>
					<th style="width: 64px;">Referencia</th>
					<th style="width: 350px;">Descripcion</th>
					<th class="ta_right" style="width: 45px;">Cantidad</th>
					<th style="width: 65px;"><span>Estado</span></th>
					<th style="width: 45px;"><span>Procesar</span>  </th>
				</tr>
			</thead>

			<tbody>
			  {% for linea in form.albarancompralineas %}
                {{_self.prototype(linea)}}
  			   {% endfor %}
			</tbody>
		</table>
	</div>
	<p>
        <button type="submit" class="ui-state-default ui-corner-all">Guardar</button>
    </p>    <div style="display:none;">{{ form_rest(form) }}</div>{{ form_widget(form._token) }}</form>
    <div class="float-left volver">
        <a href="{{ path('albarancompra') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
</div>
{% endblock %}