{% extends '::base.html.twig' %}

{% block content %}
<div class="title title-spacing">
					<h2>Nuevo Proveedor</h2>
</div>
<form action="{{ path('proveedor_create') }}" method="post" {{ form_enctype(form) }}>
    {# form_widget(form) #}
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Nuevo Proveedor</div>
		<div class="portlet-content form-alta">
		{{ form_errors(form) }}

    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="ui-state-default ui-corner-top"><a href="#tabs-1">Datos Principales</a></li>
		    <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Datos de contacto</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-3">Contabilidad</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-4">Observaciones</a></li>
		</ul>
    <div id="tabs-1">
   <table>
   <tbody>
     <tr>
        <th width="150">{{ form_label(form.nombre) }}</th>
        <td>
          {{ form_widget(form.nombre, { 'attr': {'class': 'foo'} }) }}
          {{ form_errors(form.nombre) }}
        </td>
      </tr>
      <tr>
        <th>{{ form_label(form.nombrecomercial, 'Nombre Comercial') }}</th>
        <td>{{ form_widget(form.nombrecomercial) }}</td>
      </tr>
      <tr>
        <th>{{ form_label(form.nif, 'NIF') }}</th>
        <td>{{ form_widget(form.nif) }}</td>
      </tr>
      <tr>
        <th>{{ form_label(form.direccion, 'Direccion') }}</th>
        <td>{{ form_widget(form.direccion) }}</td>
      </tr>
      <tr>
        <th>{{ form_label(form.cp, 'Codigo postal') }}</th>
        <td>{{ form_widget(form.cp, { 'attr': {'class': 'small'}}) }}</td>
      </tr>
	  <tr>
        <th>{{ form_label(form.localidad) }}</th>
        <td>{{ form_widget(form.localidad) }}</td>
      </tr>
	  <tr>
        <th>{{ form_label(form.provincia) }}</th>
        <td>{{ form_widget(form.provincia) }}</td>
      </tr>
      <tr>
        <th>{{ form_label(form.pais) }}</th>
        <td>{{ form_widget(form.pais) }}</td>
      </tr>
      <tr>
        <th width="150">{{ form_label(form.tipo_proveedor, 'Tipo de Proveedor') }}</th>
		  <td>
		     {{ form_widget(form.tipo_proveedor, { 'attr': {'class': 'foo'} }) }}
		     {{ form_errors(form.tipo_proveedor) }}
		     </td>
		    </tr>
		  <tr>
      <tr>
        <th width="150">{{ form_label(form.medio_envio, 'Medio Envio') }}</th>
		  <td>
		     {{ form_widget(form.medio_envio) }}
		     {{ form_errors(form.medio_envio) }}
		     </td>
		    </tr>
		  <tr>
        </tbody>
     </table>  
    </div>
	<div id="tabs-2">
		   <table>
   		<tbody>
        		<th width="150">{{ form_label(form.fax) }}</th>
		        <td>
		          {{ form_widget(form.fax) }}
		          {{ form_errors(form.fax) }}
		        </td>
		      </tr>
        		<th width="150">{{ form_label(form.email) }}</th>
		        <td>
		          {{ form_widget(form.email) }}
		          {{ form_errors(form.email) }}
		        </td>
		      </tr>
              <th width="150">{{ form_label(form.nombrecontacto, 'Nombre de Contacto') }}</th>
		        <td>
		          {{ form_widget(form.nombrecontacto) }}
		          {{ form_errors(form.nombrecontacto) }}
		        </td>
		      </tr>
        		<th width="150">{{ form_label(form.telefono_contacto, 'Telefono de Contacto') }}</th>
		        <td>
		          {{ form_widget(form.telefono_contacto) }}
		          {{ form_errors(form.telefono_contacto) }}
		        </td>
		      </tr>
        		<th width="150">{{ form_label(form.email_contacto, 'Email de Contacto') }}</th>
		        <td>
		          {{ form_widget(form.email_contacto) }}
		          {{ form_errors(form.email_contacto) }}
		        </td>
		      </tr>
     </tbody></table>
	</div>
	<div id="tabs-3">
	   <table>
   		<tbody>
     		<tr>
        		<th width="150">{{ form_label(form.paga_iva, 'Paga IVA') }}</th>
		        <td>
		          {{ form_widget(form.paga_iva) }}
		          {{ form_errors(form.paga_iva) }}
		        </td>
		      </tr>
		   <tr>
        		<th width="150">{{ form_label(form.es_cliente, 'Es Cliente') }}</th>
		        <td>
		          {{ form_widget(form.es_cliente) }}
		          {{ form_errors(form.es_cliente) }}
		        </td>
		      </tr>
        		<th width="150">{{ form_label(form.irpf, 'Paga IRPF') }}</th>
		        <td>
		          {{ form_widget(form.irpf) }}
		          {{ form_errors(form.irpf) }}
		        </td>
		      </tr>
              <th width="150">{{ form_label(form.codigo_formapago, 'Forma de Pago') }}</th>
		        <td>
		          {{ form_widget(form.codigo_formapago) }}
		          {{ form_errors(form.codigo_formapago) }}
		        </td>
		      </tr>
        		<th width="150">{{ form_label(form.cuenta_bancaria, 'Cuenta Bancaria') }}</th>
		        <td>
		          {{ form_widget(form.cuenta_bancaria) }}
		          {{ form_errors(form.cuenta_bancaria) }}
		        </td>
		      </tr>
        		<th width="150">{{ form_label(form.codigo_externo, 'Codigo Externo') }}</th>
		        <td>
		          {{ form_widget(form.codigo_externo, { 'attr': {'class': 'small'}}) }}
		          {{ form_errors(form.codigo_externo) }}
		        </td>
		      </tr>
			  <tr>
        		<th width="150">{{ form_label(form.codigo_contabilidad, 'Codigo Contabilidad') }}</th>
		        <td>
		          {{ form_widget(form.codigo_contabilidad, { 'attr': {'class': 'small'}}) }}
		          {{ form_errors(form.codigo_contabilidad) }}
		        </td>
		      </tr>
		   <tr>
     </tbody></table>
	</div>
	<div id="tabs-4">
		<table>
			<tbody>
			<tr> <th width="150">{{ form_label(form.observaciones) }}</th>
		        <td>
		          {{ form_widget(form.observaciones) }}
		            {{ form_errors(form.observaciones) }}
		            </td></tr>
			</tbody>
		</table>
	</div></div>
<div class="guardar">
       <input type="submit" class="submit" value="Guardar" />
    </div> 
</div></div>{{ form_widget(form._token) }}
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('proveedor') }}">
            Volver
        </a>
    </li>
</ul>
{% endblock %}