{% extends '::base.html.twig' %}

{% block body %}
<div id="header">
		<div id="top-menu">		
			<span>Hola!! <a href="#" title="Logged in as admin">{{ app.user.username }}</a></span>
			| <a href="{{ path('logout') }}" title="Logout">Salir</a>
		</div>
		<div id="sitename">
			<a href="index.php" class="logo float-left" title="Admintasia">Pl&aacute;sticos Baltasar, S.A.</a>
		</div>
		<ul id="navigation" class="sf-navbar">
			<li><a href="{{ path('PBInicioBundle_homepage') }}">Inicio</a></li>
			<li><a href="{{ path('pb_general_homepage')  }}">General</a>
				<ul>
					<li><a href="{{ path('formapago') }}">Formas de Pago</a></li>
					<li><a href="{{ path('pb_general_backup') }}">Copias de Seguridad</a></li>
				</ul> 
			</li>
			<li><a href="{{ path('PBComprasBundle_homepage')  }}">Compras</a>
				<ul>
					<li><a href="{{ path('proveedor') }}">Proveedores</a></li>
					<li><a href="{{ path('compras_pedidocompra') }}">Pedido Compra</a>
					<ul>
						<li><a href="{{ path('compras_pedidocompra_new') }}">Nuevo Pedido Compra</a></li>
						
					</ul>
					</li>
					<li><a href="{{ path('albarancompra') }}">Albaran Compra</a></li> 
				</ul>
			</li>
			<li><a href="{{ path('PBVentasBundle_homepage') }}">Ventas</a>
				<ul>
					<li><a href="{{ path('comercial') }}">Comerciales</a></li>
					<li><a href="{{ path('cliente') }}">Clientes</a></li>
					<li><a href="{{ path('pedido') }}">Pedidos</a>
						<ul>
								<li><a href="{{ path('pedido_new') }}">Nuevo Pedido</a></li>
						</ul>
					</li>
					<li><a href="{{ path('albaran') }}">Albaranes</a>
						<ul>
								<li><a href="{{ path('albaran_prenew') }}">Nuevo Albaran</a></li>	
						</ul>
					</li>
	    			<li><a href="{{ path('factura') }}">Facturas</a>
						<ul>
								<li><a href="{{ path('factura_prenew') }}">Nueva Factura</a></li>	
								<li><a href="{{ path('facturab') }}">Facturas B</a>
									<ul>
										<li><a href="{{ path('facturab_prenew') }}">Nueva Factura</a></li>
									</ul>
								</li>				
						</ul>
					</li>
					<li><a href="{{ path('precio') }}">Precios</a>
					   <ul>
							<li><a href="{{ path('precio_buscador_facturas') }}">Precios en Facturas</a></li>		
							<li><a href="{{ path('precio_buscador_facturasb') }}">Precios en Facturas B</a></li>								
						</ul>
					</li>
					<li><a href="{{ path('presupuesto') }}">Presupuestos</a>
				</ul>
			</li>
			<li><a href="{{ path('pb_almacen_homepage') }}">Almacen</a>
  				<ul>
					<li><a href="{{ path('producto') }}">Productos</a></li>
				</ul>
		    </li>
			<li><a href="{{ path('pb_produccion_homepage') }}">Producci&oacute;n</a></li>
		</ul>
	</div>
    
	<div id="page-wrapper" class="fixed">
		<div id="main-wrapper">
				<div style="{% block displaysidebar %}display:block;{% endblock %}">
			      		    <!--    sidebar --->
	 		 {% include '::sidebar.html.twig' %}
					<!-- sidebar -->
			</div>
			<div id="main-content" class="{% block width100 %}{% endblock %}">
			
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="response-msg {{ type }}">
                <span>Mensaje </span>
        		{{ flashMessage|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
            </div>
        {% endfor %}
    {% endfor %}
    
    		  {% block content %}{% endblock %}
      		</div>

		<div class="clearfix"></div>

	</div>

		</div>
	<div class="clearfix"></div>
	
	<!-- footer -->
		<div id="footer">
	<!--	<div id="menu"><a href="#" title="Home">Home</a><a href="#" title="Administration">Administration</a><a href="#" title="Settings">Settings</a> 	</div> -->

		Pl&aacute;sticos Baltasar S.A. &copy; 2012 - David &Aacute;lvarez (davidalvarezcalvo@gmail.com)
	</div>
{% endblock %}