    <div id="sidebar">
			<div class="side-col ui-sortable">
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header"> Menu</div>
					<div class="portlet-content">
						<div id="accordion">
							<div>
								<h3><a href="{{ path('PBComprasBundle_homepage', { 'name': 'aaaa' })  }}">Compras</a></h3>
								<div>
									<ul class="side-menu">
										<li><a href="{{ path('proveedor') }}" title="Administration">Proveedores</a></li>
										<li><a href="{{ path('compras_pedidocompra') }}" title="Forms">Pedido Compra</a></li>
									</ul>
								</div>
							</div>
							<div>
								<h3><a href="#">Ventas</a></h3>
								<div>
									<ul class="side-menu">
										<li><a href="{{ path('cliente') }}" title="Clientes">Clientes</a></li>
										<li><a href="{{ path('pedido') }}" title="Pedidos">Pedidos</a></li>
										<li><a href="{{ path('albaran') }}" title="Pedidos">Albaranes</a></li>
										<li><a href="{{ path('precio') }}" title="Precios">Precios</a></li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>
				<!--  <div class="other-box yellow-box ui-corner-all">
					<div class="cont tooltip ui-corner-all" title="Tooltips, tooltips, tooltips !">
						<h3>Tooltip !</h3>
						<p>This is a sample tooltip !</p>
					</div>
				</div>
				<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all">
					<div class="portlet-header ui-widget-header">Accordion</div>
					<div class="portlet-content">
						<div id="datepicker"></div>
					</div>
				</div> -->
			</div>
			<div class="clearfix"></div>
		</div>