{% extends '::layout.html.twig' %}

{% block title "Editar Proveedor" %}
{% form_theme edit_form 'PBInicioBundle:Form:fields.html.twig' %}
{% block content %}

<div class="title title-spacing">
					<h2>Editar Proveedor</h2>
</div>

          	{% include 'PBComprasBundle:Proveedor:form.html.twig' with { 'form' : edit_form } %}
    <div class="float-left volver">
        <a href="{{ path('proveedor') }}">
         <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <!-- <div class="float-left">
        <form action="{{ path('proveedor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="ui-state-default ui-corner-all boton-eliminar" onclick="return confirm('Desea eliminar el item? Esta accion no se puede deshacer');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div> -->


{% endblock %}