<form class="well" action="{{ entity.id  ? path('proveedor_update', { 'id': entity.id }) : path('proveedor_create') }}" method="post">
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Nuevo Proveedor</div>
		<div class="portlet-content form-alta">
          {% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}

    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="ui-state-default ui-corner-top"><a href="#tabs-1">Datos Principales</a></li>
		    <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Datos de contacto</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-3">Contabilidad</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-4">Observaciones</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-5">Evaluación</a></li>
		</ul>
    <div id="tabs-1">
    <table>
   <tbody>
     <tr>
        <td class="label">{{ form_label(form.nombre) }}</td>
        <td class="campo">{{ form_widget(form.nombre, { 'attr': {'class': 'foo'} }) }}</td><td>{{ form_errors(form.nombre) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.nombrecomercial, 'Nombre Comercial') }}</td>
        <td>{{ form_widget(form.nombrecomercial) }}</td><td>{{ form_errors(form.nombrecomercial) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.nif, 'NIF') }}</td>
        <td>{{ form_widget(form.nif) }}</td><td>{{ form_errors(form.nif) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.direccion, 'Direccion') }}</td>
        <td>{{ form_widget(form.direccion) }}</td><td>{{ form_errors(form.direccion) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.cp, 'Codigo postal') }}</td>
        <td>{{ form_widget(form.cp, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.cp) }}</td>
      </tr>
	  <tr>
        <td>{{ form_label(form.localidad) }}</td>
        <td>{{ form_widget(form.localidad) }}</td><td>{{ form_errors(form.localidad) }}</td>
      </tr>
	  <tr>
        <td>{{ form_label(form.provincia_proveedor, 'Provincia') }}</td>
        <td>{{ form_widget(form.provincia_proveedor) }}</td><td>{{ form_errors(form.provincia_proveedor) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.pais) }}</td>
        <td>{{ form_widget(form.pais) }}</td><td>{{ form_errors(form.pais) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.tipo_proveedor, 'Tipo de Proveedor') }}</td>
		<td>{{ form_widget(form.tipo_proveedor, { 'attr': {'class': 'foo'} }) }}</td><td> {{ form_errors(form.tipo_proveedor) }}</td>
	  </tr>
	  <tr>
        <td>{{ form_label(form.medio_envio, 'Medio Envio') }}</td>
		<td>{{ form_widget(form.medio_envio) }}</td><td>{{ form_errors(form.medio_envio) }}</td>
	  </tr>
    </tbody>
   </table>  
    </div>
	<div id="tabs-2">
	  <table>
   		<tbody>
   			 <tr>
        		<td class="label">{{ form_label(form.telefono) }}</td>
		        <td class="campo">{{ form_widget(form.telefono) }}</td><td>{{ form_errors(form.telefono) }}</td>
		      </tr>
   			 <tr>
        		<td>{{ form_label(form.telefono2) }}</td>
		        <td>{{ form_widget(form.telefono2) }}</td><td>{{ form_errors(form.telefono2) }}</td>
		      </tr>
   			 <tr>
        		<td>{{ form_label(form.fax) }}</td>
		        <td>{{ form_widget(form.fax) }}</td><td>{{ form_errors(form.fax) }}</td>
		      </tr>
		      <tr>
        		<td>{{ form_label(form.email) }}</td>
		        <td>{{ form_widget(form.email) }}</td><td>{{ form_errors(form.email) }}</td>
		      </tr>
		      <tr>
        		<td>{{ form_label(form.web) }}</td>
		        <td>{{ form_widget(form.web) }}</td><td>{{ form_errors(form.web) }}</td>
		      </tr>
		      <tr>
                <td>{{ form_label(form.nombrecontacto, 'Nombre de Contacto') }}</td>
		        <td>{{ form_widget(form.nombrecontacto) }}</td><td>{{ form_errors(form.nombrecontacto) }}</td>
		      </tr>
		      <tr>
        		<td>{{ form_label(form.telefono_contacto, 'Telefono de Contacto') }}</td>
		        <td>{{ form_widget(form.telefono_contacto) }}</td><td>{{ form_errors(form.telefono_contacto) }}</td>
		      </tr>
		      <tr>
        		<td>{{ form_label(form.email_contacto, 'Email de Contacto') }}</td>
		        <td>{{ form_widget(form.email_contacto) }}</td><td>{{ form_errors(form.email_contacto) }}</td>
		      </tr>
        </tbody>
     </table>
	</div>
	<div id="tabs-3">
	   <table>
   		<tbody>
     		<tr>
        		<td class="label">{{ form_label(form.paga_iva, 'Paga IVA') }}</th>
		        <td class="campo">{{ form_widget(form.paga_iva) }}</td><td>{{ form_errors(form.paga_iva) }}</td>
		     </tr>
		     <tr>
        		<td>{{ form_label(form.es_cliente, 'Es Cliente') }}</td>
		        <td>{{ form_widget(form.es_cliente) }}</td><td>{{ form_errors(form.es_cliente) }}</td>
		     </tr>
		     <tr>
        		<td>{{ form_label(form.irpf, 'Paga IRPF') }}</td>
		        <td>{{ form_widget(form.irpf) }}</td><td>{{ form_errors(form.irpf) }}</td>
		      </tr>
		      <tr>
                <td>{{ form_label(form.formapago_proveedor, 'Forma de Pago') }}</td>
		        <td>{{ form_widget(form.formapago_proveedor) }}</td><td>{{ form_errors(form.formapago_proveedor) }}</td>
		      </tr>
		      <tr>
        		<td>{{ form_label(form.cuenta_bancaria, 'Cuenta Bancaria') }}</td>
		        <td>{{ form_widget(form.cuenta_bancaria) }}</td><td>{{ form_errors(form.cuenta_bancaria) }}</td>
		      </tr>
		      <tr>
        		<td>{{ form_label(form.codigo_externo, 'Codigo Externo') }}</td>
        		<td>{{ form_widget(form.codigo_externo, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.codigo_externo) }}</td>
		      </tr>
			  <tr>
        		<td>{{ form_label(form.codigo_contabilidad, 'Codigo Contabilidad') }}</td>
		        <td>{{ form_widget(form.codigo_contabilidad, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.codigo_contabilidad)}}</td>
		       <tr>
     </tbody></table>
	</div>
	<div id="tabs-4">
		<table>
			<tbody>
			   <tr> <td class="label">{{ form_label(form.observaciones) }}</td>
		           <td class="campo">{{ form_widget(form.observaciones, { 'attr': {'cols': '40', 'rows': '12'}}) }}</td><td> {{ form_errors(form.observaciones) }}
		            </td></tr>
			</tbody>
		</table>
	</div>
	<div id="tabs-5">
		<h4>EVALUACIÓN INICIAL</h4>
		<table>
			<tbody>
				
			   <tr> <td class="label">{{ form_label(form.fecha_evaluacion) }}</td>
		           <td class="campo">{{ form_widget(form.fecha_evaluacion, { 'attr': {'class': 'date small', 'disabled':'disabled'}}) }}</td><td> {{ form_errors(form.fecha_evaluacion) }} </td>
		       </tr>
		       <tr> <td class="label">{{ form_label(form.tipo_evaluacion) }}</td>
		           <td class="campo">{{ form_widget(form.tipo_evaluacion, { 'attr': {'class': '', 'disabled':'disabled'}}) }}</td><td> {{ form_errors(form.fecha_evaluacion) }} </td>
		       </tr>
			</tbody>
		</table>
		<h4>EVALUACIÓN CONTÍNUA</h4>
		<table>
			<tbody>

		       <tr> <td class="label" style="width:230px;">{{ form_label(form.aprovado) }}</td>
		           <td class="campo">{{ form_widget(form.aprovado, { 'attr': {'class': ''}}) }}</td><td> {{ form_errors(form.aprovado) }} </td>
		       </tr>
				
			   <tr> <td class="label">{{ form_label(form.fecha_evaluacion2, 'Fecha última evaluación') }}</td>
		           <td class="campo">{{ form_widget(form.fecha_evaluacion2, { 'attr': {'class': 'date small'}}) }}</td><td> {{ form_errors(form.fecha_evaluacion2) }} </td>
		       </tr>
		     <!--  <tr>
		       		<td class="label"><label>Pedidos de Compra con incidencias</label></td>
		       		<td class="campo"></td>
		       </tr> -->
		       </tbody>
		</table>
	</div></div>
	<div class="guardar">
	
	        <button type="submit" class="ui-state-default ui-corner-all">Guardar</button>
	</div> 
</div></div>{{ form_widget(form._token) }}
</form>