{% extends '::layout.html.twig' %}

{% block title "Proveedores" %}

{% block content %}

<div class="title title-spacing">
					<h2>Proveedores</h2>
</div>
	
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="alert alert-block alert-error fade in form-errors">
            {{ form_errors(filterForm) }}
        </div>
        {% endif %}
        &nbsp;
    </div>
    <div class="portlet form-bg ui-widget ui-widget-content ui-helper-clearfix ui-corner-all buscador"><div class="portlet-header ui-widget-header">Filtros</div>
    <div class="portlet-content">
		<form class="well" action="{{ path('proveedor') }}" method="post" {{ form_enctype(filterForm) }} novalidate="novalidate">
			<table id="form-alta">
   				<tbody>		
         			<tr>
        				<td class="label">{{ form_label(filterForm.id, 'Código Proveedor') }}</td>
        				<td class="campo">{{ form_widget(filterForm.id, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(filterForm.id) }}</td>
      				<tr>
      				<tr>
        				<td class="label">{{ form_label(filterForm.nombre, 'Nombre') }}</td>
        				<td class="campo">{{ form_widget(filterForm.nombre) }}</td><td>{{ form_errors(filterForm.nombre) }}</td>
      				<tr>
      				<tr>
        				<td class="label">{{ form_label(filterForm.nif, 'NIF') }}</td>
        				<td class="campo">{{ form_widget(filterForm.nif) }}</td><td>{{ form_errors(filterForm.nif) }}</td>
      				<tr>
      	         	<tr>
        				<td class="label">{{ form_label(filterForm.cp, 'Código Postal') }}</td>
        				<td class="campo">{{ form_widget(filterForm.cp, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(filterForm.cp) }}</td>
      				<tr>
               		<tr>
        				<td class="label">{{ form_label(filterForm.localidad, 'Localidad') }}</td>
        				<td class="campo">{{ form_widget(filterForm.localidad) }}</td><td>{{ form_errors(filterForm.localidad) }}</td>
      				<tr> 
            </tbody></table>
                <p class="botones-buscador">
                    <button type="submit" name="filter_action" value="reset" class="ui-state-default ui-corner-all">Limpiar</button>
                    <button type="submit" name="filter_action" value="filter" class="ui-state-default ui-corner-all">Filtrar</button>
                </p>
			 {{ form_widget(filterForm._token) }}</form>
	</div><div class="clear"></div>
</div>
    
<div class="btn-nuevo">
<a class="btn ui-state-default ui-corner-all" href="{{ path('proveedor_new') }}"><span class="ui-icon ui-icon-plusthick"></span>Nuevo Proveedor</a></div>



<div class="clearfix"></div>
<div class="hastable">
    <table class="records_list">
    <thead>
        <tr>
            <th width="25">Código Proveedor</th>
            <th>Nombre</th>
            <th>Nombrecomercial</th>
            <th>Localidad</th>
            <th>Telefono</th>
            <th>{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
        	<!-- <a rel="prettyPhoto[iframe]" href="xhr_response.html?ajax=true&amp;width=400&amp;height=160">Sample AJAX</a> -->
            <td><a rel="prettyPhoto[iframe]" href="{{ path('proveedor_show', { 'id': entity.id , 'iframe': 'true', 'width': 650, 'height': 400 }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.nombre }}</td>
            <td>{{ entity.nombrecomercial }}</td>
            <td>{{ entity.localidad }}</td>
            <td>{{ entity.telefono }}</td>
            <td>
        		<a href="{{ path('proveedor_show', { 'id': entity.id }) }}" title="Ver ficha" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-search"></span></a>
        		<a href="{{ path('proveedor_edit', { 'id': entity.id }) }}" title="Editar elemento" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-wrench"></span></a>
          		<!-- <a href="{{ path('proveedor_delete', { 'id': entity.id }) }}" title="Eliminar" class="btn_no_text btn ui-state-default ui-corner-all tooltip" onclick="return confirm('Estas seguro de borrar el cliente?')"><span class="ui-icon ui-icon-circle-close"></span></a> -->
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>

{% endblock %}