{% extends '::base.html.twig' %}

{% block content %}
<div class="title title-spacing">
					<h2>Proveedor</h2>
</div>
<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td>{{ entity.nombre }}</td>
        </tr>
        <tr>
            <th>Nombrecomercial</th>
            <td>{{ entity.nombrecomercial }}</td>
        </tr>
        <tr>
            <th>Nif</th>
            <td>{{ entity.nif }}</td>
        </tr>
        <tr>
            <th>Nombrecontacto</th>
            <td>{{ entity.nombrecontacto }}</td>
        </tr>
        <tr>
            <th>Telefono_contacto</th>
            <td>{{ entity.telefonocontacto }}</td>
        </tr>
        <tr>
            <th>Email_contacto</th>
            <td>{{ entity.emailcontacto }}</td>
        </tr>
        <tr>
            <th>Telefono</th>
            <td>{{ entity.telefono }}</td>
        </tr>
        <tr>
            <th>Fax</th>
            <td>{{ entity.fax }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ entity.email }}</td>
        </tr>
        <tr>
            <th>Direccion</th>
            <td>{{ entity.direccion }}</td>
        </tr>
        <tr>
            <th>Cp</th>
            <td>{{ entity.cp }}</td>
        </tr>
        <tr>
            <th>Localidad</th>
            <td>{{ entity.localidad }}</td>
        </tr>
        <tr>
            <th>Provincia</th>
            <td>{{ entity.provincia }}</td>
        </tr>
        <tr>
            <th>Pais</th>
            <td>{{ entity.pais }}</td>
        </tr>
        <tr>
            <th>Tipo_proveedor</th>
            <td>{{ entity.tipoproveedor }}</td>
        </tr>
        <tr>
            <th>Es_cliente</th>
            <td>{{ entity.escliente }}</td>
        </tr>
        <tr>
            <th>Activo</th>
            <td>{{ entity.activo }}</td>
        </tr>
        <tr>
            <th>Observaciones</th>
            <td>{{ entity.observaciones }}</td>
        </tr>
        <tr>
            <th>Medio_envio</th>
            <td>{{ entity.medioenvio }}</td>
        </tr>
        <tr>
            <th>Paga_iva</th>
            <td>{{ entity.pagaiva }}</td>
        </tr>
        <tr>
            <th>Irpf</th>
            <td>{{ entity.irpf }}</td>
        </tr>
        <tr>
            <th>Codigo_formapago</th>
            <td>{{ entity.codigoformapago }}</td>
        </tr>
        <tr>
            <th>Codigo_externo</th>
            <td>{{ entity.codigoexterno }}</td>
        </tr>
        <tr>
            <th>Cuenta_bancaria</th>
            <td>{{ entity.cuentabancaria }}</td>
        </tr>
        <tr>
            <th>Codigo_contabilidad</th>
            <td>{{ entity.codigocontabilidad }}</td>
        </tr>
        <tr>
            <th>Fechaalta</th>
            <td>{{ entity.fechaalta|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('proveedor') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('proveedor_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>
        <form action="{{ path('proveedor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
{% endblock %}