{# note que en este caso utilizamos el layout de ajax para así no cargar todo el contenido del layout general #}
{# extends app.request.isXmlHttpRequest ? "::layout_ajax.html.twig" : "::layout.html.twig" #}
{% extends "::layout_ajax.html.twig" %}
{% block title "Proveedores" %}

{% block content %}
  <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
		<div class="portlet-content show">

    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="ui-state-default ui-corner-top"><a href="#tabs-1">Datos Principales</a></li>
		    <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Datos de contacto</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-3">Contabilidad</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-4">Observaciones</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-5">Evaluación</a></li>
		</ul>
    <div id="tabs-1">
    <table>
   <tbody>
     <tr>
        <td class="label">Código Proveedor</td><td class="campo">{{ entity.id }}</td>
      </tr>
     <tr>
        <td class="label">Nombre</td><td class="campo"><b>{{ entity.nombre }}</b></td>
      </tr>
      <tr>
        <td class="label">Nombre Comercial</td><td class="campo">{{ entity.nombrecomercial }}</td>
      </tr>
      <tr>
        <td class="label">NIF</td><td class="campo">{{ entity.nif }}</td>
      </tr>
      <tr>
        <td class="label">Direccion</td><td class="campo">{{ entity.direccion }}</td>
      </tr>
      <tr>
        <td class="label">Código Postal</td><td class="campo">{{ entity.cp }}</td>
      </tr>
	  <tr>
        <td class="label">Localidad</td><td class="campo">{{ entity.localidad }}</td>
      </tr>
	  <tr>
        <td class="label">Provincia</td><td class="campo">{{ entity.provinciaproveedor }}</td>
      </tr>
      <tr>
        <td class="label">Pais</td><td class="campo">{{ entity.pais }}</td>
      </tr>
      <tr>
        <td class="label">Tipo de Proveedor</td><td class="campo">{{ entity.tipoproveedorText }}</td>
	  </tr>
	  <tr>
        <td class="label">Medio Envio</td><td class="campo">{{ entity.medioenvioText }}</td>
	  </tr>
    </tbody>
   </table>  
    </div>
	<div id="tabs-2">
	  <table>
   		<tbody>
   			 <tr>
        		<td class="label">Teléfono</td><td class="campo">{{ entity.telefono }}</td>
		      </tr>
   			 <tr>
        		<td class="label">Telefono 2</td><td class="campo">{{ entity.telefono2 }}</td>
		      </tr>
   			 <tr>
        		<td class="label">Fax</td><td class="campo">{{ entity.fax }}</td>
		      </tr>
		      <tr>
        		<td class="label">Email</td><td class="campo">{{ entity.email }}</td>
		      </tr>
		      <tr>
        		<td class="label">Web</td><td class="campo">{{ entity.web }}</td>
		      </tr>
		      <tr>
                <td class="label">Nombre de Contacto</td><td class="campo">{{ entity.nombrecontacto }}</td>
		      </tr>
		      <tr>
        		<td class="label">Teléfono de Contacto</td><td class="campo">{{  entity.Telefonocontacto }}</td>
		      </tr>
		      <tr>
        		<td class="label">Email de Contacto</td><td class="campo">{{ entity.emailcontacto }}</td>
		      </tr>
        </tbody>
     </table>
	</div>
	<div id="tabs-3">
	   <table>
   		<tbody>
     		<tr>
        		<td class="label">Paga IVA</td><td class="campo">{{  entity.pagaiva ? 'Si' : 'No' }}</td>
		     </tr>
		     <tr>
        		<td class="label">Es Cliente</td><td class="campo">{{ entity.escliente ? 'Si' : 'No' }}</td>
		     </tr>
		     <tr>
        		<td class="label">Paga IRPF</td><td class="campo">{{ entity.irpf ? 'Si' : 'No' }}</td>
		      </tr>
		      <tr>
                <td class="label">Forma de Pago</td><td class="campo">{{ entity.formapagoproveedor }}</td>
		      </tr>
		      <tr>
        		<td class="label">Cuenta Bancaria</td><td class="campo">{{ entity.cuentabancaria }}</td>
		      </tr>
		      <tr>
        		<td class="label">Codigo Externo</td><td class="campo">{{ entity.codigoexterno }}</td>
		      </tr>
			  <tr>
        		<td class="label">Codigo Contabilidad</td><td class="campo">{{ entity.codigocontabilidad }}</td>
		       <tr>
     </tbody></table>
	</div>
	<div id="tabs-4">
		<table>
			<tbody>
			   <tr> <td class="label">Observaciones</td><td class="campo">{{ entity.observaciones|nl2br }}</td>
		            </td></tr>
			</tbody>
		</table>
	</div>
	<div id="tabs-5">
	  <h4>EVALUACIÓN INICIAL</h4>
		<table>
			<tbody>
			   <tr> <td class="label">Fecha Evaluación</td><td class="campo">{{ entity.fechaevaluacion|date('d.m.Y') }}</td>
		       </tr>
		       <tr> <td class="label">Tipo Evaluación</td><td class="campo">{{ entity.tipoevaluacionText }}</td>
		       </tr>
			</tbody>
		</table>
	 <h4>EVALUACIÓN CONTÍNUA</h4>
		<table>
			<tbody>
			   <tr> <td class="label">Aprobado</td><td class="campo">{{ entity.aprovado ? 'Si' : 'No' }}</td>
		       </tr>
			   <tr> <td class="label">Fecha Última Evaluación</td><td class="campo">{{ entity.fechaevaluacion2|date('d.m.Y') }}</td>
		       </tr>
		       <tr><td class="label">Incidencias</td><td class="campo">
		       <table>
		       <tr><th>Pedido de Compra</th><th>Observaciones</th></tr>
		               {% for inci in incidencias %}
                <tr><td><a href="{{ path('compras_pedidocompra_show', { 'id': inci.id }) }}">{{ inci.id }}</a></td><td> {{ inci.observaciones }} </td></tr>
        {% endfor %}</table>
		       </td>
		       </tr>
			</tbody>
		</table>
	</div>
	</div></div> </div>
{% endblock %}