{# note que en este caso utilizamos el layout de ajax para así no cargar todo el contenido del layout general #}
{% extends app.request.isXmlHttpRequest ? "::layout_ajax.html.twig" : "::layout.html.twig" %}
{% block title "Proveedores" %}

{% block content %}
<div class="title title-spacing">
					<h2>{{ entity.nombre }}</h2>
</div>

  <div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
		<div class="portlet-content show">

    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<ul class="ui-tabs-nav ui-helper-reset ui-helper-clearfix ui-widget-header ui-corner-all">
			<li class="ui-state-default ui-corner-top"><a href="#tabs-1">Datos Principales</a></li>
		    <li class="ui-state-default ui-corner-top"><a href="#tabs-2">Datos de contacto</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-3">Contabilidad</a></li>
			<li class="ui-state-default ui-corner-top"><a href="#tabs-4">Observaciones</a></li>
		</ul>
    <div id="tabs-1">
    <table>
   <tbody>
     <tr>
        <td class="label">Nombre</td><td class="campo">{{ entity.nombre }}</td>
      </tr>
      <tr>
        <td>Nombre Comercial</td><td>{{ entity.nombrecomercial }}</td>
      </tr>
      <tr>
        <td>NIF</td><td>{{ entity.nif }}</td>
      </tr>
      <tr>
        <td>Direccion</td><td>{{ entity.direccion }}</td>
      </tr>
      <tr>
        <td>Código Postal</td><td>{{ entity.cp }}</td>
      </tr>
	  <tr>
        <td>Localidad</td><td>{{ entity.localidad }}</td>
      </tr>
	  <tr>
        <td>Provincia</td><td>{{ entity.provinciaproveedor }}</td>
      </tr>
      <tr>
        <td>Pais</td><td>{{ entity.pais }}</td>
      </tr>
      <tr>
        <td>Tipo de Proveedor</td><td>{{ entity.tipoproveedor }}</td>
	  </tr>
	  <tr>
        <td>Medio Envio</td><td>{{ entity.medioenvio }}</td>
	  </tr>
    </tbody>
   </table>  
    </div>
	<div id="tabs-2">
	  <table>
   		<tbody>
   			 <tr>
        		<td class="label">Teléfono</td><td class="campo">{{ entity.telefono }}</td>
		      </tr>
   			 <tr>
        		<td>Telefono 2</td><td>{{ entity.telefono2 }}</td>
		      </tr>
   			 <tr>
        		<td>Fax</td><td>{{ entity.fax }}</td>
		      </tr>
		      <tr>
        		<td>Email</td><td>{{ entity.email }}</td>
		      </tr>
		      		      <tr>
        		<td>Web</td><td>{{ entity.web }}</td>
		      </tr>
		      <tr>
                <td>Nombre de Contacto</td><td>{{ entity.nombrecontacto }}</td>
		      </tr>
		      <tr>
        		<td>Teléfono de Contacto</td><td>{{  entity.Telefonocontacto }}</td>
		      </tr>
		      <tr>
        		<td>Email de Contacto</td><td>{{ entity.emailcontacto }}</td>
		      </tr>
        </tbody>
     </table>
	</div>
	<div id="tabs-3">
	   <table>
   		<tbody>
     		<tr>
        		<td class="label">Paga IVA</td><td class="campo">{{  entity.pagaiva }}</td>
		     </tr>
		     <tr>
        		<td>Es Cliente</td><td>{{ entity.escliente }}</td>
		     </tr>
		     <tr>
        		<td>Paga IRPF</td><td>{{ entity.irpf }}</td>
		      </tr>
		      <tr>
                <td>Forma de Pago</td><td>{{ entity.formapagoproveedor }}</td>
		      </tr>
		      <tr>
        		<td>Cuenta Bancaria</td><td>{{ entity.cuentabancaria }}</td>
		      </tr>
		      <tr>
        		<td>Codigo Externo</td><td>{{ entity.codigoexterno }}</td>
		      </tr>
			  <tr>
        		<td>Codigo Contabilidad</td><td>{{ entity.codigocontabilidad }}</td>
		       <tr>
     </tbody></table>
	</div>
	<div id="tabs-4">
		<table>
			<tbody>
			   <tr> <td class="label">Observaciones</td><td class="campo">{{ entity.observaciones }}</td>
		            </td></tr>
			</tbody>
		</table>
	</div>
</div></div> </div>


<div>
    <div class="float-left">
        <a class="btn" href="{{ path('proveedor') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn" href="{{ path('proveedor_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('proveedor_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>

{% endblock %}