{% extends '::layout.html.twig' %}

{% block title "Pedidos Compra" %}

{% block content %}
<div id="pedido-compra">
<div class="title title-spacing">
					<h2>Pedidos Compra</h2>
</div>
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="response-msg notice iu-corner-all"><span>
            {{ form_errors(filterForm) }}</span>
        </div>
        {% endif %}
        &nbsp;
    </div>
        <div class="portlet form-bg ui-widget ui-widget-content ui-helper-clearfix ui-corner-all buscador"><div class="portlet-header ui-widget-header">Filtros</div>
    <div class="portlet-content">
            <form class="well" action="{{ path('compras_pedidocompra') }}" method="post" {{ form_enctype(filterForm) }}>
	<table id="form-alta">
   				<tbody>		
         			<tr>
        				<td class="label">{{ form_label(filterForm.id, 'Código Pedido') }}</td>
        				<td class="campo">{{ form_widget(filterForm.id, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(filterForm.id) }}</td>
      				<tr>
					<tr>
	        			<td class="label">{{ form_label(filterForm.proveedor, 'Código Proveedor') }}</td>
	        			<td class="campo">{{ form_widget(filterForm.proveedor, { 'attr': {'class': 'small numeric buscadorid'}}) }}<a rel="prettyPhoto[iframe]" href="{{ path('buscador_proveedor', { 'id': '' , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title="Buscador de Proveedores"><img src="{{ asset('images/search.png') }}" /></a></td><td>{{ form_errors(filterForm.proveedor) }}</td>
	      			<tr>
	      	        <tr>
	        			<td class="label">{{ form_label(filterForm.fecha, 'Fecha') }}</td>
	        			<td class="campo">{{ form_widget(filterForm.fecha, { 'attr': {'class': 'date small'}}) }}</td><td>{{ form_errors(filterForm.fecha) }}</td>
	      			<tr>
					<tr>
	        			<td class="label">{{ form_label(filterForm.referencia, 'Referencia') }}</td>
	        			<td class="campo">{{ form_widget(filterForm.referencia, { 'attr': {'class': ''}}) }}</td><td>{{ form_errors(filterForm.referencia) }}</td>
	      			<tr>
	      			<tr>
	        			<td class="label">{{ form_label(filterForm.estado, 'Estado') }}</td>
	        			<td class="campo">{{ form_widget(filterForm.estado, { 'attr': {'class': ''}}) }}</td><td>{{ form_errors(filterForm.estado) }}</td>
	      			<tr>
            </tbody></table>
                <p class="botones-buscador">
                    <button type="submit" name="filter_action" value="filter" class="ui-state-default ui-corner-all">Filtrar</button>
                    <button type="submit" name="filter_action" value="reset" class="ui-state-default ui-corner-all">Limpiar</button>   
                </p>
			 {{ form_widget(filterForm._token) }}</form>
	</div><div class="clear"></div>
</div>
<div class="btn-nuevo">
<a class="btn ui-state-default ui-corner-all" href="{{ path('compras_pedidocompra_new') }}"><span class="ui-icon ui-icon-plusthick"></span>Nuevo Pedido Compra</a></div>
<div class="clearfix"></div>
<div class="hastable">
    <table class="records_list">
    <thead>
        <tr>
			<th width="25">Código Pedido</th>
			<th width="280">Proveedor</th>
            <th>Fecha</th>
            <th>Fecha Entrega</th>
            <th width="115">Estado</th>
            <th width="100">{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
            <td><a href="{{ path('compras_pedidocompra_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.proveedor }}</td>
            <td>{% if entity.fecha %}{{ entity.fecha|date('d.m.Y') }}{% endif %}</td>
            <td>{% if entity.fechaentrega %}{{ entity.fechaentrega|date('d.m.Y') }}{% endif %}</td>
            <td><span class="estadoc estado{{ entity.estado }}">{{ entity.estadoText }}</span></td>
            <td>
        		<a href="{{ path('compras_pedidocompra_show', { 'id': entity.id }) }}" title="Ver ficha" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-search"></span></a>
        		<a href="{{ path('compras_pedidocompra_edit', { 'id': entity.id }) }}" title="Editar elemento" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-wrench"></span></a>
          		<a href="{{ path('compras_pedidocompra_print', { 'id': entity.id }) }}" title="Imprimir" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-print"></span></a>
          </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
    </div>

    <div class="span4">
    {{ pagerHtml|raw }}
    </div>
</div>
{% endblock %}
