{% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}
<script>
$(document).ready(function() { 
    $(".buscaprecio").click(function () {
        var cliente = $('#pedido_cliente').val();
        if(cliente == '') {
			alert('Debe introducir un cliente');
         } else {
        	 $.prettyPhoto.open('{{ path('buscador_precio', { 'id': ''}) }}/'+cliente+'?/iframe=true&width=1080&height=600','Buscador de Precios','Listado de precios de cliente');
         }
        return;
    })
});
         </script>
<div id="pedido-form">
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container container-sin-header">
		<form action="{{ entity.id  ? path('pedido_update', { 'id': entity.id }) : path('pedido_create') }}" method="post" {{ form_enctype(form) }}>
			<div class="form-invoice">
				<div class="span-16 form-horizontal label-column-small form-condensed">
					<div class="control-group">
						{{ form_label(form.cliente, null, { 'label': ' Cliente', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.cliente, { 'attr': {'class': 'small buscadorid'}}) }}
			    			<a rel="prettyPhoto[iframe]" href="{{ path('buscador_cliente', { 'id': entity.id , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title="Buscador de CLIENTES"><img src="{{ asset('images/search.png') }}" /></a>
		        		</div>
	     			</div>
	     			<div class="control-group-pedido">
	     			      <label class="control-label">&nbsp;</label> 
	     			      <div class="controls nombre-cliente" style="display:none;"><h2>Nombre de cliente</h2></div>
	     			</div>
     			</div>
     			<div class="span-19 form-horizontal label-column-small form-condensed">
					<div class="control-group required">
						<div style="width:150px;float:left;">   
						   <label class="control-label required">Código Pedido</label>
							<div class="controls codigo">
				    					{{ entity.id }}
			        		</div>
			        	</div>
			        	<div style="width:220px;float:left;">
			        		{{ form_label(form.estado, null, { 'label': 'Estado', 'label_attr': {'class': 'control-label'} }) }}
								<div class="controls codigo">
			    				{{ form_widget(form.estado, { 'attr': {'class': 'small'}}) }}
			        			</div>
			        	</div>
	     			</div>
     			</div>
      			<div class="span-16 form-horizontal label-column-small form-condensed">
	     			<div class="control-group required">
						{{ form_label(form.fecha, null, { 'label': 'Fecha', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.fecha, { 'attr': {'class': 'date small'}}) }}
		        		</div>
	     			</div>
     			</div>
     			<div class="clearfix"></div>
     			<div class="span-16 form-horizontal label-column-small form-condensed">
	     			<label class="control-label required">Comercial</label>
						
			        		<div class="controls nombre-comercial" style="display:none;">			
		        		</div>
	     			</div>

     			<div class="span-17 form-horizontal label-column-small form-condensed">
     		    	<div class="control-group required">
						{{ form_label(form.subcliente, null, { 'label': 'Subcliente', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.subcliente, { 'attr': {'class': ''}}) }}
		        		</div>
	     			</div>	
     			</div>
     			<div class="span-16 form-horizontal label-column-small form-condensed">
	     			<div class="control-group required">
						{{ form_label(form.precio, null, { 'label': 'Precio', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.precio, { 'attr': {'class': 'small iprecio'}}) }}
			    			<a href="#" class="buscaprecio"><img src="{{ asset('images/search.png') }}" /></a>
			    			<!-- <a rel="prettyPhoto[iframe]" href="{{ path('buscador_precio', { 'id': entity.id , 'iframe': 'true', 'width': 750, 'height': 600 }) }}" title="Buscador de Precios"> </a> -->
		        		</div>
	     			</div>
     			</div>
 			</div>
		</div>
		<div id="datos-pedido">
			<div class="span-17 form-horizontal label-column-small form-condensed column-pedido">
				<span>EXTRUSION</span><div class="clearfix"></div>
				<div class="control-group">
						{{ form_label(form.cantidad, null, { 'label': 'Cantidad', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.cantidad, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.mtycolor, null, { 'label': 'Material y Color', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.mtycolor, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>
		      	<div class="control-group">
						{{ form_label(form.tipomaterial, null, { 'label': 'Tipo Material', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.tipomaterial, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.ancho, null, { 'label': 'Ancho', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.ancho, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>	
		      	<div class="control-group">
						{{ form_label(form.galga, null, { 'label': 'Galga', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.galga, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
		     	<div class="control-group">
						{{ form_label(form.plegado, null, { 'label': 'Plegado', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.plegado, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>		
		 		<div class="control-group">
						{{ form_label(form.bobinas, null, { 'label': 'Bobinas', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.bobinas, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.metros, null, { 'label': 'Metros', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.metros, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
		 		<div class="control-group">
						{{ form_label(form.pesoteorico, null, { 'label': 'Peso Teorico', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.pesoteorico, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.tratado, null, { 'label': 'Tratado', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.tratado, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
		 		<div class="control-group">
						{{ form_label(form.tipotubo, null, { 'label': 'Tipo Tubo', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.tipotubo, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
		 		<div class="control-group">
						{{ form_label(form.notasextrusion, null, { 'label': 'Notas', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.notasextrusion, { 'attr': {'cols': '25', 'rows': '3'} }) }}	
		      	</div></div>
			</div>
			<div class="span-17 form-horizontal label-column-small form-condensed column-pedido">
				<span>IMPRESIÓN</span>
				<div class="control-group">
						{{ form_label(form.kilosimp, null, { 'label': 'Kilos', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.kilosimp, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.cliche, null, { 'label': 'Cliche', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.cliche, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>
		      	<div class="control-group">
						{{ form_label(form.medidaimp, null, { 'label': 'Medida Imp', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.medidaimp, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
		      	<div class="control-group">
						{{ form_label(form.soldadura, null, { 'label': 'Soldadura', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.soldadura, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.impresion, null, { 'label': 'Impresión', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.impresion, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>	
		      	<div class="control-group">
						{{ form_label(form.colores, null, { 'label': 'Colores', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.colores, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>
		 		<div class="control-group">
						{{ form_label(form.notasimpresion, null, { 'label': 'Notas', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.notasimpresion, { 'attr': {'cols': '25', 'rows': '3'} }) }}	
		      	</div></div>	
			</div>
			<div class="span-17 form-horizontal label-column-small form-condensed column-pedido column-pedido-last">
				<span>CORTE</span>
				<div class="control-group">
						{{ form_label(form.maquina, null, { 'label': 'Maquina', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.maquina, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>	
				<div class="control-group">
						{{ form_label(form.cantidadc, null, { 'label': 'Cantidad', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.cantidadc, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.anchoc, null, { 'label': 'Ancho', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.anchoc, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.largoc, null, { 'label': 'Largo', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.largoc, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.solapa, null, { 'label': 'Solapa', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.solapa, { 'attr': {'class': 'small numeric'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.almacen, null, { 'label': 'Almacen', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.almacen, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>
				<div class="control-group">
						{{ form_label(form.operario, null, { 'label': 'Operario', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.operario, { 'attr': {'class': 'small'}}) }}	
		      	</div></div>
		 		<div class="control-group">
						{{ form_label(form.notascorte, null, { 'label': 'Notas', 'label_attr': {'class': 'control-label'} }) }}
						<div class="controls">
			    			{{ form_widget(form.notascorte, { 'attr': {'cols': '25', 'rows': '3'} }) }}	
		      	</div></div>
			</div>
	  </div><!-- datos-pedido -->
	<div class="clearfix"></div>
	<div class="guardar"><button type="submit" class="ui-state-default ui-corner-all">Guardar</button></div> 
		{{ form_widget(form._token) }}</form>
</div>