{% extends '::layout.html.twig' %}

{% block title entity.cliente %}

{# block width100 "widthtotal" %}{% block displaysidebar "display:none;" #}
{% block content %}
<div id="pedido-ver">
	<div class="title title-spacing ventas"><h2>Pedido</h2></div>   
	<div class="toppedido">	
	    <table class="tabla1">
	   		<tr>
	   			<td class="label3"><span>CLIENTE</span></td>
	   			<td class="dato" colspan="4" style="width:70%;"><span>{{ entity.cliente }}</span>
	   			<td class="label3 clientep"><span>COMERCIAL</span></td>
	   			<td class="dato"><span>{{ entity.cliente.comercialcliente}}</span>
	   		</tr>
	   	</table>
	   	<table class="tabla2">
	   		<tr>
	   			<td class="label3"><span>SUBCLIENTE</span></td>
	   			<td class="dato" style="width:50%;"><span>{{ entity.subcliente }}</span></td>
	   			<td class="label3"><span>PEDIDO</span></td>
	   			<td class="dato"><span>{{ entity.id }}</span>
	   			<td class="label3 clientep"><span>FECHA</span></td>
	   			<td class="dato"><span>{{ entity.fecha|date('d.m.Y') }}</span>
	   		</tr>
	   	  </table>
	   </div>

		<div id="datos-pedido">
			<div class="span-13 form-horizontal label-column-small form-condensed column-pedido">
				<span class="span-13">EXTRUSION</span><div class="clearfix"></div>
				<div class="control-group">
						<label>Cantidad</label>
						<div class="controls">{{ entity.cantidad }}</div></div>
				<div class="control-group">
						<label>Material y Color</label>
						<div class="controls">{{ entity.mtycolor }}</div></div>
		      	<div class="control-group">
						<label>Tipo Material</label>
						<div class="controls">{{ entity.tipomaterialText }}</div></div>
				<div class="control-group">
						<label>Ancho</label>
						<div class="controls">{{ entity.ancho }}</div></div>	
		      	<div class="control-group">
						<label>Galga</label>
						<div class="controls">{{ entity.galga }}</div></div>
		     	<div class="control-group">
						<label>Plegado</label>
						<div class="controls">{{ entity.plegado }}</div></div>		
		 		<div class="control-group">
						<label>Bobinas</label>
						<div class="controls">{{ entity.bobinas }}</div></div>
				<div class="control-group">
					<label>	Metros</label>
						<div class="controls">{{ entity.metros }}</div></div>
		 		<div class="control-group">
					<label>	Peso Teorico</label>
						<div class="controls">{{ entity.pesoteorico }}</div></div>
				<div class="control-group">
					   <label> Tratado</label>
						<div class="controls">{{ entity.tratado }}</div></div>
		 		<div class="control-group">
						<label>Tipo Tubo</label>
						<div class="controls">{{ entity.tipotuboText }}</div></div>
		 		<div class="control-group">
						<label>Notas</label>
						<div class="controls">{{ entity.notasextrusion }}	
		      	</div></div>
			</div>
			<div class="span-13 form-horizontal label-column-small form-condensed column-pedido">
				<span class="span-13">IMPRESIÓN</span>
				<div class="control-group">
						<label>Kilos</label>
						<div class="controls">{{ entity.kilosimp }}</div></div>
				<div class="control-group">
						<label>Cliche</label>
						<div class="controls">{{ entity.clicheText }}	
		      	</div></div>
				<div class="control-group">
						<label>Carpeta</label>
						<div class="controls">{{ entity.carpeta }}	
		      	</div></div>
		      	<div class="control-group">
						<label>Medida Imp</label>
						<div class="controls">{{ entity.medidaimp }}</div></div>
		      	<div class="control-group">
						<label>Soldadura</label>
						<div class="controls">{{ entity.soldadura }}</div></div>
				<div class="control-group">
						<label>Impresión</label>
						<div class="controls">{{ entity.impresion }}	
		      	</div></div>	
		      	<div class="control-group">
						<label>Colores</label>
						<div class="controls">{{ entity.colores }}	
		      	</div></div>
		 		<div class="control-group">
						<label>Notas</label>
						<div class="controls">{{ entity.notasimpresion }}	
		      	</div></div>	
			</div>
			<div class="span-13 form-horizontal label-column-small form-condensed column-pedido column-pedido-last">
				<span class="span-13">CORTE</span>
				<div class="control-group">
						<label>Máquina</label>
						<div class="controls">{{ entity.maquina }}	
		      	</div></div>	
				<div class="control-group">
						<label>Cantidad</label>
						<div class="controls">{{ entity.cantidadc }}	
		      	</div></div>
				<div class="control-group">
						<label>Ancho</label>
						<div class="controls">{{ entity.anchoc }}</div></div>
				<div class="control-group">
				        <label>Largo</label>
				    	<div class="controls">{{ entity.largoc }}</div></div>
				<div class="control-group">
						<label>Solapa</label>
						<div class="controls">{{ entity.solapa }}</div></div>
				<div class="control-group">
						<label>Almacen</label>
						<div class="controls">{{ entity.almacen }}	
		      	</div></div>
				<div class="control-group">
						<label>Operario</label>
						<div class="controls">{{ entity.operario }}	
		      	</div></div>
		 		<div class="control-group">
						<label>Notas</label>
						<div class="controls">
			    			{{ entity.notascorte }}</div></div>
			</div>
	  </div><!-- datos-pedido -->
		<div class="clearfix"></div><br />
    <div class="float-left volver">
        <a href="{{ path('pedido') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
        <ul class="ui-widget ui-helper-clearfix botones-abajo">
    <li class="ui-state-default ui-corner-all editar" style="float:left;"><a class="btn" href="{{ path('pedido_edit', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-wrench"></span> Editar </a> </li>
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('pedido_print', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-print"></span> Imprimir </a> </li>
    <li class="ui-state-default ui-corner-all imprimir" style="float:left;"><a class="btn" href="{{ path('calcular_precio', { 'id': entity.id }) }}"><span class="ui-icon ui-icon-cart"></span> Calcular Precio </a> </li>
    
    </ul>
</div> <!-- pedido -->
{% endblock %}