
  {% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}

<form action="{{ entity.id  ? path('albaran_edit', { 'id': entity.id }) : path('albaran_new') }}" novalidate="novalidate" method="post" {{ form_enctype(form) }}>
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">DATOS DE LA FACTURA</div>
		<div class="portlet-content">
		    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<table id="form-alta">
		<tr>
			<td>{{ form_label(form.cliente, null, { 'label': 'Cliente', 'label_attr': {'class': 'control-label'} }) }}</td>
			<td>{{ form_widget(form.cliente, { 'attr': {'class': 'small numeric buscadorid buscadorclienteAlbaran'}}) }}<a rel="prettyPhoto[iframe]" href="{{ path('buscador_cliente', { 'id': entity.id , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title="Buscador de Clientes"><img src="{{ asset('images/search.png') }}" /></a></td>
		</tr>
		<tr>
			<td></td>
			<td><div class="controls nombre-cliente" style="display:none;"><h2>Nombre de cliente</h2></div></td>
		</tr>
		<tr>
			<td>{{ form_label(form.tipo, null, { 'label': 'Tipo', 'label_attr': {'class': 'control-label'} }) }}</td>
			<td>{{ form_widget(form.tipo, { 'attr': {'class': 'small'}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.fecha, null, { 'label': 'Fecha', 'label_attr': {'class': 'control-label'} }) }}</td>
			<td>{{ form_widget(form.fecha, { 'attr': {'class': 'date small'}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.iva, null, { 'label': 'IVA', 'label_attr': {'class': 'control-label'} }) }}</td>
			<td>{{ form_widget(form.iva, { 'attr': {'class': 'small hiva'}}) }}</td>
		</tr>
		<tr>
			<td>{{ form_label(form.observaciones) }} <div class="clearfix"></td>
			<td>{{ form_widget(form.observaciones, { 'attr': {'cols': '50', 'rows': '6'}}) }}</td>
			
		</tr>
		<tr>
			<td></td><td>
    </td>
		</tr>
	</table>
	</div></div><p>
	<div style="display:none;">
	   {{  form_rest(form) }}
	</div>
        <button type="submit" class="ui-state-default ui-corner-all">Siguiente >></button>
    </p></div>
    {{ form_widget(form._token) }}</form>
 	<div class="clearfix"></div>