{% extends '::layout.html.twig' %}

{% block title "Albaranes" %}

{% block content %}
<div id="albaran"> 
	<div class="title title-spacing ventas"><h2>Albaranes</h2></div>        
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="response-msg notice iu-corner-all"><span>
            {{ form_errors(filterForm) }}</span>
        </div>
        {% endif %}
        &nbsp;
    </div>
	<div class="portlet form-bg ui-widget ui-widget-content ui-helper-clearfix ui-corner-all buscador"><div class="portlet-header ui-widget-header">Filtros</div>
	    <div class="portlet-content">
			<form class="well" action="{{ path('albaran') }}" method="post" {{ form_enctype(filterForm) }} novalidate="novalidate">
				<table id="form-alta">
	   				<tbody>		
	         			<tr>
	        				<td class="label">{{ form_label(filterForm.id, 'Código Albaran') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.id, { 'attr': {'class': 'small numeric'}}) }}</td><td>{{ form_errors(filterForm.id) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.cliente, 'Código Cliente') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.cliente, { 'attr': {'class': 'small numeric buscadorid'}}) }}<a rel="prettyPhoto[iframe]" href="{{ path('buscador_cliente', { 'id': '' , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title="Buscador de Clientes"><img src="{{ asset('images/search.png') }}" /></a></td><td>{{ form_errors(filterForm.cliente) }}</td>
	      				<tr>
	      	         	<tr>
	        				<td class="label">{{ form_label(filterForm.fecha, 'Fecha') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.fecha, { 'attr': {'class': 'date small'}}) }}</td><td>{{ form_errors(filterForm.fecha) }}</td>
	      				<tr>
	      	         	<tr>
	        				<td class="label">{{ form_label(filterForm.tipo, 'Tipo') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.tipo, { 'Tipo': {'class': 'small'}}) }}</td><td>{{ form_errors(filterForm.fecha) }}</td>
	      				<tr>
	      				<tr><td class="label"></td><td></td></tr>
	      				<tr>
	      					<td class="label"></td>
	      					<td>{{ form_widget(filterForm.facturados, { 'Tipo': {'class': ''}}) }}</td>
	      				</tr>
	            	</tbody>
	            </table>
                <p class="botones-buscador">
                    <button type="submit" name="filter_action" value="filter" class="ui-state-default ui-corner-all">Filtrar</button>
                    <button type="submit" name="filter_action" value="reset" class="ui-state-default ui-corner-all">Limpiar</button>   
                </p>
				 {{ form_widget(filterForm._token) }}</form>
		</div>
	</div>
	    
	<div class="btn-nuevo"><a class="btn ui-state-default ui-corner-all" href="{{ path('albaran_prenew') }}"><span class="ui-icon ui-icon-plusthick"></span>Nuevo Albaran</a></div>

	<div class="clearfix"></div>
	<div class="hastable">
    	<table class="records_list">
    		<thead>
		        <tr>
		            <th width="25">Código Albaran</th>
		            <th>Cliente</th>
		            <th>Fecha</th>
		            <th>Importe</th>
		            <th>Tipo</th>
		            <th>Factura</th>
		            <th width="132">{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
		            <td><a href="{{ path('albaran_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
		            <td>{{ entity.cliente }}</td>
		            <td>{{ entity.fecha|date('d.m.Y') }}</td>
		            <td>{{ entity.importetotalf }}</td>
		            <td>{{ entity.tipoText }}</td>
		            <td>		
						{% if entity.codfactura %}
							{% if entity.tipo is sameas(1) %}
								<a href="{{ path('factura_show', { 'id': entity.codfactura }) }}">{{ entity.codfactura }}</a>
							{% endif %}
							{% if entity.tipo is sameas(2) %}
								<a href="{{ path('facturab_show', { 'id': entity.codfactura }) }}">{{ entity.codfactura }}</a>
							{% endif %}
						{% else %}
						<!--  <a class="btn2 btn2-mini btn2-facturar" rel="prettyPhoto[iframe][facturando]" href="{{ path('albaran_facturar', { 'id': entity.id , 'iframe': 'true', 'width': 580, 'height': 470 }) }}">Facturar</a> -->
							<a class="btn2 btn2-mini btn2-facturar" href="{{ path('albaran_facturar', { 'id': entity.id }) }}">Facturar</a>
						{% endif %}
				    </td>
				    <td>
		        		<a href="{{ path('albaran_show', { 'id': entity.id }) }}" title="Ver ficha" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-search"></span></a>
		     			{% if entity.codfactura %}
		          		{% else %}
		          			<a href="{{ path('albaran_preedit', { 'id': entity.id }) }}" title="Editar elemento" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-wrench"></span></a>
		     			{% endif %}
		          		<a href="{{ path('albaran_print', { 'id': entity.id }) }}" title="Imprimir" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-print"></span></a>
		           	    <a href="{{ path('albaran_mail', { 'id': entity.id }) }}" title="Enviar por email" class="btn_no_text btn ui-state-default ui-corner-all tooltip iframe-mail"><span class="ui-icon ui-icon-mail-closed"></span></a>  
		          </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
    </div>
	<div class="clearfix"></div>
    <div class="span4">
    {{ pagerHtml|raw }}
         <form id="form1" name="form1" method="post" action="{{ path('albaran') }}"> 
    <div class="dataTables_length"><label>Mostrar 
    	<select name="cuantos" id="cuantos" onchange="this.form.submit()" size="1">   		
        {% for item in cuantos %}
                <option value="{{ item }}" {% if item == entradas %} selected="selected" {% endif %}>{{ item }}</option>
        {% endfor %}
        </ul>
    	</select></label>
    </div>
    </form>
    </div>
 </div>
{% endblock %}