{% extends '::layout.html.twig' %}
{% block title "Nuevo Comercial" %}

{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}

{% block content %}
<div class="title title-spacing ventas">
					<h2>Nuevo Comercial</h2>
</div>  
<form action="{{ path('comercial_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Nuevo Comercial</div>
          {% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}
		<div class="portlet-content">
		    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		<table id="form-alta">
   <tbody>
    <!-- <tr><td colspan="3" class="grupo-campos">Datos Principales</td></tr>  -->
     <tr>
        <td class="label">{{ form_label(form.nombre) }}</td>
        <td class="campo">{{ form_widget(form.nombre) }}</td>
        <td>{{ form_errors(form.nombre) }}</td>
	 </td>
      </tr>
      <tr>
        <td>{{ form_label(form.nif, 'NIF') }}</td>
        <td>{{ form_widget(form.nif, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.nif) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.direccion, 'Direccion') }}</td>
        <td>{{ form_widget(form.direccion) }}</td><td>{{ form_errors(form.direccion) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.cp, 'Codigo postal') }}</td>
        <td>{{ form_widget(form.cp, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.cp) }}</td>
      </tr>
	  <tr>
        <td>{{ form_label(form.localidad) }}</td>
        <td>{{ form_widget(form.localidad) }}</td><td>{{ form_errors(form.localidad) }}</td>
      </tr>
	  <tr>
        <td>{{ form_label(form.provincia_comercial, 'Provincia') }}</td>
        <td>{{ form_widget(form.provincia_comercial) }}</td><td>{{ form_errors(form.provincia_comercial) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.telefono) }}</td>
        <td>{{ form_widget(form.telefono, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.telefono) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.porcentaje) }}</td>
        <td>{{ form_widget(form.porcentaje, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.porcentaje) }}</td>
      </tr>
     <tr>
        <td>{{ form_label(form.es_cliente) }}</td>
        <td>{{ form_widget(form.es_cliente, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(form.es_cliente) }}</td>
      </tr> 
      <tr>
        <td valgin="top">{{ form_label(form.observaciones) }}</td>
        <td>{{ form_widget(form.observaciones, { 'attr': {'cols': '34', 'rows': '7'} }) }}</td><td>{{ form_errors(form.observaciones) }}</td>
      </tr> 
        </tbody>
     </table>  </div>
<div class="guardar">
       <input type="submit" class="submit" value="Guardar" />
    </div> 
{{ form_widget(form._token) }}</form>
		</div></div>
    <div class="float-left volver">
        <a href="{{ path('comercial') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
{%  endblock %}
