{% extends '::layout.html.twig' %}

{% block title "Nueva Forma Pago" %}

{% block content %}
<div class="title title-spacing">
					<h2>Nueva Forma de Pago</h2>
</div>

<form action="{{ path('formapago_create') }}" method="post" {{ form_enctype(form) }} novalidate="novalidate">
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
	<div class="portlet-header ui-widget-header">Nuevo Forma de Pago</div>
		<div class="portlet-content form-alta">
		{{ form_errors(form) }}
		  <table>
   <tbody>
     <tr>
        <td class="label">{{ form_label(form.nombre) }}</td>
        <td class="campo">{{ form_widget(form.nombre, { 'attr': {'class': 'foo'} }) }}</td><td>{{ form_errors(form.nombre) }}</td>
      </tr>
      <tr>
        <td>{{ form_label(form.descripcion, 'Descripcion') }}</td>
        <td>{{ form_widget(form.descripcion, { 'attr': {'cols': '40', 'rows': '10'}}) }}</td><td>{{ form_errors(form.descripcion) }}</td>
      </tr>
    </tbody>
   </table>    
</div>
<div class="guardar">
          <p>
        <button type="submit" class="ui-state-default ui-corner-all">Guardar</button>
    </p>
</div> {{ form_widget(form._token) }}
</form>
</div>
    <div class="float-left volver">
        <a href="{{ path('formapago') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>

{% endblock %}