<form action="{{ entity.id  ? path('almacen_update', { 'id': entity.id }) : path('almacen_create') }}" method="post">
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container form-almacen">
	<div class="portlet-header ui-widget-header">Entrada de Almacen</div>
		<div class="portlet-content form-alta">
          {% if form_errors(form) %}
          <div class="response-msg notice iu-corner-all">{{ form_errors(form) }}</div>
          {% endif %}
		<div class="span-20 form-horizontal">
 		<div class="control-group">
			 	{{ form_label(form.producto, null, { 'label': 'Producto', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.producto, { 'attr': {'class': ''}}) }}</div>
		  </div>
		  <div class="control-group">
			{{ form_label(form.referencia, null, { 'label': 'Referencia', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.referencia, { 'attr': {'class': 'small'}}) }}</div>
		</div>
		<div class="control-group">
			 	{{ form_label(form.descripcion, null, { 'label': 'Descripcion', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.descripcion, { 'attr': {'class': 'medium'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.ancho, null, { 'label': 'Ancho', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.ancho, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  		  <div class="control-group">
			 	{{ form_label(form.largo, null, { 'label': 'Largo', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.largo, { 'attr': {'class': 'small numeric'}}) }}</div>
		  </div>
		   <div class="control-group">
			{{ form_label(form.galga, null, { 'label': 'Galga', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.galga, { 'attr': {'class': 'small numeric'}}) }}</div>
		   </div>
		  
		</div>
		<div class="span-16 form-horizontal">
		  <div class="control-group">
			 	{{ form_label(form.cantidad, null, { 'label': 'Cantidad', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.cantidad, { 'attr': {'class': 'small numeric'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.paquete, null, { 'label': 'Paquete', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.paquete, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.serie, null, { 'label': 'Serie / Lote', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.serie, { 'attr': {'class': 'small'}}) }}</div>
		  </div>
		  <div class="control-group">
			 	{{ form_label(form.fecha_entrada, null, { 'label': 'Fecha Entrega', 'label_attr': {'class': 'control-label'} }) }}
			<div class="controls">{{ form_widget(form.fecha_entrada, { 'attr': {'class': 'small date'}}) }}</div>
		  </div>
		  
		</div>
	<div class="clearfix"></div>
	<div class="guardar">
	
	        <button type="submit" class="ui-state-default ui-corner-all">Guardar</button>
	</div> 
</div></div>{{ form_widget(form._token) }}
</form>