{# note que en este caso utilizamos el layout de ajax para así no cargar todo el contenido del layout general #}
{# extends app.request.isXmlHttpRequest ? "::layout_ajax.html.twig" : "::layout.html.twig" #}
{% extends "::layout_ajax.html.twig" %}
{% block title "Almacen" %}

{% block content %}
<div id="ver-producto"><div id="lightbox-wrapper">
<div class="title title-spacing almacen"><h2>Almacen</h2></div>
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
		<div class="portlet-content show">

    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		
    <div id="tabs-1">
     <table style="width:600px;" celspacing="0">
     	<tr>
     		<td class="labelpro">Producto</td><td><b>{{ entity.producto }}</b></td><td class="labelpro">Cantidad</td><td>{{ entity.cantidad }}</td>
     	</tr>
     	<tr>
     		<td class="labelpro">Referencia</td><td>{{ entity.referencia }}</td><td class="labelpro">Paquete</td><td>{{ entity.paquete }}</td>
     	</tr>
     	<tr>	
     		<td class="labelpro">Descripcion</td><td>{{ entity.descripcion }}</td><td class="labelpro">Serie / Lote</td><td>{{ entity.serie }}</td>
     	</tr>
     	<tr>	
     		<td class="labelpro">Ancho</td><td>{{ entity.ancho }}</td><td class="labelpro">Fecha Entrada</td><td>{{ entity.fechaentrada|date('d.m.Y') }}</td>
     	</tr>
     	<tr>	
     		<td class="labelpro">Largo</td><td>{{ entity.largo }}</td><td class="labelpro"></td><td></td>
     	</tr>
     	<tr>	
     		<td class="labelpro">Galga</td><td>{{ entity.galga }}</td><td></td><td></td>
     	</tr>
     </table>
    </div>
	
	</div></div> </div></div></div>
{% endblock %}