{% extends '::layout.html.twig' %}

{% block title "Editar Pedido" %}
{% form_theme form 'PBInicioBundle:Form:fields.html.twig' %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<div class="title title-spacing ventas"><h2>Editar Pedido Cliente</h2></div>

	<div id="pedido-form">
		<form action="{{ entity.id  ? path('pedidocliente_update', { 'id': entity.id }) : path('pedidocliente_create') }}" method="post" {{ form_enctype(form) }}>
		{% include 'PBVentasBundle:PedidoCliente:form.html.twig' with { 'form' : form } %}
		</div>
			<div style="display:none;">
				{{ form_errors(form) }} 
				{{ form_rest(form) }}
			</div>
		{{ form_widget(form._token) }}</form>
		    
    <div class="float-left volver">
        <a href="{{ path('pedidocliente') }}">
          <<  {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
		{% include 'PBVentasBundle:Cliente:js_get_cliente.html.twig' %} 

<script>
getNombrecliente();
        	</script>
{% endblock %}