{% extends '::layout.html.twig' %}

{% block title "Pedidos" %}
{% block width100 "widthtotal" %}{% block displaysidebar "display:none;" %}
{% block content %}
<div id="pedido">
	<div class="title title-spacing ventas"><h2>Pedidos Cliente</h2></div>        
    <div class="span2">
        {% if form_errors(filterForm) %}
        <div class="response-msg notice iu-corner-all"><span>
            {{ form_errors(filterForm) }}</span>
        </div>
        {% endif %}
        &nbsp;
    </div>
	<div class="portlet form-bg ui-widget ui-widget-content ui-helper-clearfix ui-corner-all buscador"><div class="portlet-header ui-widget-header">Filtros</div>
	    <div class="portlet-content">
			<form class="well" action="{{ path('pedidocliente') }}" method="post" {{ form_enctype(filterForm) }} novalidate="novalidate">
				<table id="form-alta">
	   				<tbody>		
	         			<tr>
	        				<td class="label">{{ form_label(filterForm.id, 'Código Pedido') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.id, { 'attr': {'class': 'small numeric'}}) }}</td><td>{{ form_errors(filterForm.id) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.cliente, 'Código Cliente') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.cliente, { 'attr': {'class': 'small numeric buscadorid'}}) }}<a rel="prettyPhoto[iframe]" href="{{ path('buscador_cliente', { 'id': '' , 'iframe': 'true', 'width': 650, 'height': 400 }) }}" title="Buscador de Clientes"><img src="{{ asset('images/search.png') }}" /></a></td><td>{{ form_errors(filterForm.cliente) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.comercial, 'Comercial') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.comercial, { 'attr': {'class': ''}}) }}</td><td>{{ form_errors(filterForm.comercial) }}</td>
	      				<tr>
	      	         	<tr>
	        				<td class="label">{{ form_label(filterForm.fecha, 'Fecha') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.fecha, { 'attr': {'class': 'date small'}}) }}</td><td>{{ form_errors(filterForm.fecha) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.subcliente, 'Subcliente') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.subcliente, { 'attr': {'class': ''}}) }}</td><td>{{ form_errors(filterForm.subcliente) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.ancho, 'Ancho') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.ancho, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(filterForm.ancho) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.galga, 'Galga') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.galga, { 'attr': {'class': 'small'}}) }}</td><td>{{ form_errors(filterForm.galga) }}</td>
	      				<tr>
	      				<tr>
	        				<td class="label">{{ form_label(filterForm.estado, 'Estado') }}</td>
	        				<td class="campo">{{ form_widget(filterForm.estado, { 'attr': {'class': ''}}) }}</td><td>{{ form_errors(filterForm.estado) }}</td>
	      				<tr>
	            	</tbody>
	            </table>
                <p class="botones-buscador">
                    <button type="submit" name="filter_action" value="filter" class="ui-state-default ui-corner-all">Filtrar</button>
                    <button type="submit" name="filter_action" value="reset" class="ui-state-default ui-corner-all">Limpiar</button>   
                </p>
				 {{ form_widget(filterForm._token) }}</form>
		</div>
	</div>
	    
	<div class="btn-nuevo"><a class="btn ui-state-default ui-corner-all" href="{{ path('pedidocliente_new') }}"><span class="ui-icon ui-icon-plusthick"></span>Nuevo Pedido</a></div>

	<div class="clearfix"></div>
	<div class="hastable">
    	<table class="records_list">
    		<thead>
		        <tr>
		            <th width="25">Código Pedido</th>
		            <th>Cliente</th>
		            <th>Fecha</th>
		            <th>Subcliente</th>
		            <th>Ancho</th>
		            <th>Largo</th>
		            <th width="75">Estado</th>
		            <th>Orden <br />Fabricación</th>
		            <th> Precio </th>
		            <th width="164">{{ 'views.index.actions'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</th>
		        </tr>
		    </thead>
		    <tbody>
		    {% for entity in entities %}
		        <tr class="{{ cycle(['odd', 'even'], loop.index) }}">
		            <td><a href="{{ path('pedidocliente_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
		            <td>{{ entity.cliente }}</td>
		            <td>{{ entity.fecha|date('d.m.Y') }}</td>
		            <td>{{ entity.subcliente }}</td>
		            <td>{{ entity.ancho }}</td>
		            <td>{{ entity.largo }}</td>
		            <td><span class="estadoc estado{{ entity.estado }}">{{ entity.estadoText }}</span></td>
		            <td>{% if entity.orden %}
		                   <a rel="prettyPhoto[iframe]" href="{{ path('pedidocliente_show_lightbox', { 'id': entity.orden.id , 'iframe': 'true', 'width': 1000, 'height': 500 }) }}"title="Ver Orden de Fabricación" style="font-size:12px; font-weight:bold;">{{ entity.orden.id }}</a>
         		       {% else %}
						 {# Si es facturado o historico ya no se fabrica #}
						 {% if entity.estado == 1 %}
							<a class="btn2 btn2-mini btn2-fabricar" href="{{ path('pedidocliente_fabricar', { 'id': entity.id }) }}">Fabricar</a>
						 {% endif %}
         		       {% endif %}</td>
		            <td>{% if entity.precio %}		{{ entity.precio }}
						{% else %}
							<a href="{{ path('calcular_precio_pedidocliente', { 'id': entity.id }) }}">Calcular</a>
						{%  endif %}</td>
		            <td>
		        		<a href="{{ path('pedidocliente_show', { 'id': entity.id }) }}" title="Ver ficha" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-search"></span></a>
		        		<a href="{{ path('pedidocliente_edit', { 'id': entity.id }) }}" title="Editar elemento" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-wrench"></span></a>
		          		<a href="{{ path('pedidocliente_print', { 'id': entity.id }) }}" title="Imprimir" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-print"></span></a>
		          	    <a href="{{ path('pedidocliente_duplicar', { 'id': entity.id }) }}" title="Duplicar - Crea uno nuevo copiando los datos y con la fecha actual" class="btn_no_text btn ui-state-default ui-corner-all tooltip"><span class="ui-icon ui-icon-copy"></span></a>
		          	    <a href="{{ path('pedidocliente_mail', { 'id': entity.id }) }}" title="Enviar por email" class="btn_no_text btn ui-state-default ui-corner-all tooltip iframe-mail"><span class="ui-icon ui-icon-mail-closed"></span></a>
		          </td>
		        </tr>
		    {% endfor %}
		    </tbody>
		</table>
    </div>
	<div class="clearfix"></div>
    <div class="span4">
    {{ pagerHtml|raw }}
      <form id="form1" name="form1" method="post" action="{{ path('pedidocliente') }}"> 
    <div class="dataTables_length"><label>Mostrar 
    	<select name="cuantos" id="cuantos" onchange="this.form.submit()" size="1">   		
        {% for item in cuantos %}
                <option value="{{ item }}" {% if item == entradas %} selected="selected" {% endif %}>{{ item }}</option>
        {% endfor %}
        </ul>
    	</select></label>
    </div>
    </form>
    </div>
 </div>
{% endblock %}