{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - PedidoCliente {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>PedidoCliente</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fecha|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Subcliente</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.subcliente }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Estado</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.estado }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Cantidad</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.cantidad }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Ancho</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.ancho }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Largo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.largo }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Galga</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.galga }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Plegado</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.plegado }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Precio</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.precio }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Preciocliche</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.preciocliche }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Material</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.material }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Color</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.color }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Tipotubo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.tipotubo }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Tipobolsa</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.tipobolsa }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Bobinasnumero</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.bobinasnumero }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Bobinasmetros</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.bobinasmetros }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Bobinaskg</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.bobinaskg }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Impresion1</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.impresion1 }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Impresion2</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.impresion2 }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Color1</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.color1 }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Color2</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.color2 }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Cliche</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.cliche }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Observaciones</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.observaciones }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('pedidocliente') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('pedidocliente_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('pedidocliente_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}