{# note que en este caso utilizamos el layout de ajax para así no cargar todo el contenido del layout general #}
{# extends app.request.isXmlHttpRequest ? "::layout_ajax.html.twig" : "::layout.html.twig" #}
{% extends "::layout_ajax.html.twig" %}
{% block title "Incidencia / No conformidad" %}

{% block content %}
<div id="ver-producto"><div id="lightbox-wrapper">
<div class="title title-spacing calidad"><h2>Incidencia</h2></div>
<div class="portlet ui-widget ui-widget-content ui-helper-clearfix ui-corner-all form-container">
		<div class="portlet-content show">
    <div id="tabs2" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
		
    <div id="tabs-1">
		 <table>
   <tbody>
     <tr>
        <td class="label">Código Incidencia</td><td class="campo">{{ entity.id }}</td>
      </tr>
     <tr>
        <td class="label">Fecha Apertura</td><td class="campo"><b>{{ entity.fechaapertura|date('d.m.Y') }}</b></td>
      </tr>
     <tr>
        <td class="label">Descripción</td><td class="campo">{{ entity.descripcion|nl2br }}<br/></td>
      </tr> 
     <tr>
        <td class="label">Cliente</td><td class="campo">{{ entity.cliente }}<br/></td>
      </tr> 
      <tr>
        <td class="label">Pedido</td><td class="campo">{{ entity.pedidocliente }}<br/></td>
      </tr> 
      <tr>
        <td class="label">Acciones Inmediatas</td><td class="campo">{{ entity.accionesinmediatas|nl2br }}</td>
      </tr>
      <tr>
        <td class="label">Análisis de Causas</td><td class="campo">{{ entity.analisiscausas|nl2br }}</td>
      </tr>
      <tr>
        <td class="label">Acciones</td><td class="campo">{{ entity.acciones|nl2br }}</td>
      </tr>
      <tr>
        <td class="label">Responsable</td><td class="campo">{{ entity.responsable }}</td>
      </tr>
      <tr>
        <td class="label">Plazo</td><td class="campo">{{ entity.plazo }}</td>
      </tr>
      <tr>
        <td class="label">Fecha Cierre</td><td class="campo">{{ entity.fechacierre|date('d.m.Y') }}</td>
      </tr>
      <tr>
        <td class="label">Explicación</td><td class="campo">{{ entity.explicacion|nl2br }}</td>
      </tr>
    </tbody>
   </table>  
   </div></div></div>
{% endblock %}