{% extends 'JordiLlonchCrudGeneratorBundle::layout.html.twig' %}

{% block title %}
{{ parent() }} - Noconformidad {{ 'views.show.show'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
{% endblock %}

{% block page %}

<h1>Noconformidad</h1>

<form class="form-horizontal">
    <fieldset>        <div class="control-group">
            <label class="control-label">Id</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.id }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha_apertura</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fechaapertura|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Descripcion</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.descripcion }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Acciones_inmediatas</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.accionesinmediatas }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Analisis_causas</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.analisiscausas }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Acciones</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.acciones }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Responsable</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.responsable }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Plazo</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.plazo }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Fecha_cierre</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.fechacierre|date('Y-m-d H:i:s') }}</span>            </div>
        </div>        <div class="control-group">
            <label class="control-label">Explicacion</label>
            <div class="controls">                <span class="input-xlarge uneditable-input">{{ entity.explicacion }}</span>            </div>
        </div>    </fieldset>
</form>

<div>
    <div class="float-left">
        <a class="btn" href="{{ path('noconformidad') }}">
            {{ 'views.recordactions.backtothelist'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <a class="btn btn-primary" href="{{ path('noconformidad_edit', { 'id': entity.id }) }}">
            {{ 'views.recordactions.edit'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}
        </a>
    </div>
    <div class="float-left">
        <form action="{{ path('noconformidad_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn btn-danger" type="submit" onclick="return confirm('{{ 'views.recordactions.confirm'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}');">{{ 'views.recordactions.delete'|trans({}, 'JordiLlonchCrudGeneratorBundle') }}</button>
        </form>
    </div>
</div>
{% endblock %}